[2016-07-26 14:23] narfai opened #1 "Local development server : ParameterNotFoundException"
Hi @lilobase ! I deployed the backend and i get a ParameterNotFoundException when i try to access to _http://localhost:8000_ after running local server with "nf run php bin/console server:run".
The "nf run php ./composer.phar install" step runs well with a .env file which fit to my local mysql configuration.
My app/config/parameters.yml file looks fine and i also force the variables_order paramete

[2016-07-26 15:15] #1 closed, assigned to nobody

[2016-08-02 12:30] narfai opened #3 "Give json-encoded MatchingContexts to extension."
On the `Recommandation` list, write script tag with unhandled type (json/text) which contains json-encoded `MatchingContexts` associated to the current user's private recommendations.
If the current user has `Editor` role, we have to display `MatchingContexts` of the whole `Editor`'s `Organization`.
This script tag will be retrieved by extensions for pre-visualization.

[2016-08-03 16:01] bmenant opened #4 "Be kind with API consumers: provide full URLs for assets"
From the API, the contributors’ avatar should be a full URL.

[code]

[2016-08-08 13:17] bmenant opened #7 "Errors 500 on reco delete"
Don’t know if it’s related to #2 but I’m unable to delete some reco.

For instance, this ends up with an error 500 (reco `#15`): http://lmem-craft-backend.cleverapps.io/admin/?action=delete&entity=Recommendation&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Faction%253Dlist%2526entity%253DRecommendation%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id=15

You c

[2016-08-09 13:15] narfai opened #8 "Connect vich uploader to remote storage"
We can connect Vich Uploader to flysystem which provide an FS abstraction with following adapters :
- Local
- Azure
- AWS S3 V2
- AWS S3 V3
- Copy.com
- Dropbox
- FTP
- GridFS
- Memory
- Null / Test
- Rackspace
- ReplicateAdapter
- SFTP
- WebDAV
- PHPCR
- ZipArchive

In order to fit with idempotent clever-cloud deployment, should we provide remote storage parameters through .env file ?

[2016-08-09 13:34] narfai opened #9 "Force HTTPS over API and Backend"
We could use [this bundle](https://github.com/nelmio/NelmioSecurityBundle#forced-httpsssl-handling) to force https and allow extended security configuration like [HSTS](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security).

[2016-08-09 14:37] narfai opened #11 "Intermediate objects to enhance API output formatting's scalability (DTO)"
@lilobase

Will solve https://github.com/insitu-project/kraft-backend/issues/4
/!\ Assume the extension will request sub-objects collection on-demand from a list of ids

[2016-08-16 09:42] narfai opened #12 "User Roles and Access Rules"

[2016-08-16 13:41] lilobase opened #13 "Too many useless branches"
Please cleanup unused git branches

[2016-08-16 13:45] #13 closed, assigned to nobody

[2016-08-25 08:30] #7 closed, assigned to nobody

[2016-08-25 08:55] #3 closed, assigned to nobody

[2016-09-29 10:09] mikaelletang opened #16 "Logout"
Contributors can click a logout button to logout from the backoffice. As a result, they won’t see their private recommendations (which is sometimes desirable), until they login again.

[2016-09-29 13:37] mikaelletang opened #21 "Make optional the description attribute of a MatchingContext"
#20

[2016-09-29 15:05] mikaelletang opened #22 "Rename "Filter" "Criteria" in entities"
To align with the terminology used in the extension

[2016-09-29 15:06] mikaelletang opened #23 "Rename "Alternative" to "Resource""
Ce qui désigne le lien principal proposé par l'extension (typiquement, un article, un comparatif, un guide d'achat ...)

[2016-09-29 15:07] mikaelletang opened #24 "Rename "Source" to "Alternative""
Ce qui désigne le lien secondaire (facultatif), directement vers (en règle général) un produit alternatif

[2016-09-29 15:38] #24 closed, assigned to nobody

[2016-09-29 15:38] #23 closed, assigned to nobody

[2016-09-29 15:43] mikaelletang opened #25 "Migrate data from alternative to source in preprod"
Les données ont été entrées de la mauvaise façon en préprod : les données "source" sont sauvegardées en temps que "alternative". Transférer les données de la  table source vers la table alternative.

[2016-09-30 12:50] mikaelletang opened #30 "Make contributor mandatory in recommendation"
Not having a contributor in a recommendation make the api call http://localhost:8080/api/v1/recommendation/1 crash.
Make the field mandatory

[2016-09-30 13:37] #21 closed, assigned to nobody

[2016-09-30 13:45] #16 closed, assigned to nobody

[2016-09-30 13:53] mikaelletang opened #33 "Rename "Filter" "Criteria" in DTOs"

[2016-09-30 13:59] mikaelletang opened #34 "Rename "Source" "Resource" in entities"

[2016-09-30 13:59] mikaelletang opened #35 "Rename "Source" "Resource" in DTOs"

[2016-09-30 14:00] mikaelletang opened #36 "Add "Editor" entity, to be linked to Resources"

[2016-09-30 14:29] mikaelletang opened #38 "Add simple integration test for the api endpoints"

[2016-09-30 14:29] mikaelletang opened #39 "Improve CI to run the integration tests"

[2016-09-30 15:45] DavidBruant opened #40 "Return HTTPS urls in /api/v1/matchingcontexts"
Currently, https://preprod-lmem-craft-backend.cleverapps.io/api/v1/matchingcontexts returns :

[code]

The `recommendation_url` field contains `http` urls. It should be `https` urls, otherwise it forces to add a new CSP exception in the manifest while there is no good reason (especially given the time was spent to have proper HTTPS support even in staging :-p).
This is a block for https://github.c

[2016-10-05 11:39] #22 closed, assigned to nobody

[2016-10-05 13:07] narfai opened #41 "Deprecated endpoint /api/v1/alternative/{id}"
There is no DTO handling for this endpoint and it seems to be unused.
Does the extension use this endpoint ?
Can we delete it safely ?

[2016-10-05 17:06] #34 closed, assigned to nobody

[2016-10-05 17:07] #33 closed, assigned to nobody

[2016-10-06 12:22] #30 closed, assigned to nobody

[2016-10-06 12:49] bmenant opened #47 "Refine Back-Office ACLs"
Related to https://github.com/insitu-project/kraft-backend/pull/14

From the back-office **Only Super users** should be able to view and edits:
- Users
- Contributors
- Organizations

Also, whenever a contributor creates a new recommendation, the Contributor of the Recommendation should be automatically set to himself.

Last but not least, only **Contributors-Editors** are allowed to change the Co

[2016-10-06 15:55] mikaelletang opened #54 "How do we send the editor info in the payload"
payload actuel :

[code]

Soit on rajoute un niveau dans resource

[code]

Soit on applati (pas tres resty)

[code]

@bmenant opinions ? (avant de pinger le reste des gens concernés)

[2016-10-12 10:00] #40 closed, assigned to nobody

[2016-10-12 12:36] #35 closed, assigned to nobody

[2016-10-13 09:37] #4 closed, assigned to nobody

[2016-10-13 09:45] #11 closed, assigned to nobody

[2016-10-14 13:46] #36 closed, assigned to nobody

[2016-10-14 14:29] #54 closed, assigned to nobody

[2016-10-14 14:50] mikaelletang opened #59 "Change API origin to v2"
When we’ll release out Aspe and because of #59, the API route will change for /api/v2/ instead of /api/v1/.
cf also https://github.com/insitu-project/proto-ext/issues/88

[2016-10-14 16:29] #59 closed, assigned to nobody

[2016-10-19 08:49] bmenant opened #63 "Error 500 when getting a reco when an editor is set"
https://preprod-lmem-craft-backend.cleverapps.io/api/v2/recommendation/3 returns:

[code]

[2016-10-19 08:58] #63 closed, assigned to mikaelletang

[2016-11-02 15:52] bmenant opened #70 "Cascad deletion with criteria"
Whenever one deletes a recommendation, its criteria get deleted as well.

[2016-11-02 16:12] #70 closed, assigned to mikaelletang

[2016-11-03 12:40] #25 closed, assigned to nobody

[2016-11-17 14:19] bmenant opened #81 "Every Resource MUST have an Editor"
See https://github.com/insitu-project/kraft-backend/pull/80#pullrequestreview-9025500

[2016-12-28 18:55] bmenant opened #86 "Brochet deployment"
- [ ] check out criteria migration (how about seed predefined criteria (see staging backoffice criteria page)
- [ ] deploy

[2017-02-21 14:04] #86 closed, assigned to lilobase

[2018-09-28 11:57] #81 closed, assigned to nobody

[2018-11-23 10:09] bmenant opened #96 "Better Logs management on Production and Staging"
On production, logs are written into a bucket file...
On staging, logs are... ignored?

[2018-11-23 10:53] bmenant opened #97 "Migrations not run after deployment"
It’s a regression from #88: [see this comment](https://github.com/insitu-project/kraft-backend/pull/88/files/604324fcc01b7f8decaa1e3c53167d31caa61c84#r235784063).

 `php bin/console doctrine:migration:migrate --allow-no-migration --no-interaction`

[2018-11-23 14:47] bmenant opened #100 "Migrations failure"
Migrations are finally run after deployment. They hardly fail though...

[code]

[2018-12-27 14:36] Cethy opened #104 "Disconnection issue: token session or clevercloud autoscaler"
[126-disconnection-issue-token-session-or-clevercloud-autoscaler](https://trello.com/c/g7cltpRb/126-disconnection-issue-token-session-or-clevercloud-autoscaler).

### Investigation results
- By default, clevercloud supports the session sharing between instances via a ["replicated file system"](https://www.clever-cloud.com/doc/php/php-apps/#use-redis-to-store-php-sessions) ;
- the app config does n

[2019-01-25 10:47] #100 closed, assigned to nobody

[2019-01-25 10:48] #97 closed, assigned to nobody

[2019-01-25 11:11] bmenant opened #108 "Internal server error 500 on pagination on the admin notices’ list"
There must be something wrong with some notices since the notices’ list pagination fails on some page:

- fine: https://notices.lmem.net/admin/?entity=Notice&action=list&menuIndex=0&submenuIndex=-1&sortField=id&sortDirection=DESC&page=3
- broken: https://notices.lmem.net/admin/?entity=Notice&action=list&menuIndex=0&submenuIndex=-1&sortField=id&sortDirection=DESC&page=2

[2019-01-31 15:00] bmenant opened #110 "Update regex_validator.js"
- [x] remove protocol fragments in https://github.com/insitu-project/kraft-backend/blob/develop/web/js/regex_validator.js#L23
- [x] change `[id$=urlRegex]` to `[id$="urlRegex"i]` in https://github.com/insitu-project/kraft-backend/blob/develop/web/js/regex_validator.js#L43 (case insensitive lookup)

[2019-02-01 12:25] #108 closed, assigned to nobody

[2019-02-01 16:44] #110 closed, assigned to bmenant

[2019-02-01 17:48] bmenant opened #112 "Feedback/Rating counterparts"
The new upcoming interface will give users new sort Feedbacks/Ratings.

Among those, it introduce the counterparts of feedback/rating.
E.g. ~~`approve`~~ `like` and `dislike` have respectively ~~`unapprove`~~ `unlike` and `undislike` counterparts.

Therefore, for each Notice/Recommendation, the total number (must be >= 0) of a ratingType/feedbackType is the difference of a ratingType/feedbackType

[2019-03-21 14:36] #41 closed, assigned to nobody

[2019-03-21 14:37] #9 closed, assigned to nobody

[2019-03-21 14:38] #96 closed, assigned to nobody

[2019-04-04 14:06] bmenant opened #123 "Restricted Context validation rules are too strict"
The validation script used to check regex aren’t harmful is too strict for restricted contexts regex.
For instance, `google` is a completely legit restricted context.

[2019-04-05 14:28] #112 closed, assigned to bmenant

[2019-04-05 16:30] #123 closed, assigned to bmenant

[2019-08-01 16:30] bmenant opened #151 "Fix parameters.yml & Environment Variables Setup & upgrade Symfony to 3.4.x"
- [x] Symfony 3.3.x will not receive security fixes. Upgrade to 3.4.x seems reasonable.
- [x] The provisioning (from scratch) of the application from a Docker Compose environment is broken, since the `parameters.yml` does not exist (and cannot be prompted).

- [x] Then, we’ve got few warnings about deprecated environment variables uses.

- [ ] And last but not least, Clever Cloud bucket settings s

[2019-08-01 16:32] #8 closed, assigned to lilobase

[2020-02-25 13:57] JalilArfaoui opened #196 "Tests not passing …"
If I just run locally
[code]

They work 100% each time

But I can reproduce the same error we have in CI if I first

[code]

It's not random, it’s 100% …

But I can’t see why tests only pass if there has been a previous trial … it seems there is some kind of dependency between test that I’m not seeing … And I don’t even think PHPUnit runs them in parallel …

_Originally posted by @JalilArfaoui in

[2020-03-30 12:48] lutangar opened #214 "Use a CS fixer"
For example https://github.com/FriendsOfPHP/PHP-CS-Fixer

[2020-04-09 16:07] #214 closed, assigned to nobody

[2020-04-20 19:20] Betree opened #223 "Should licence be AGPL3?"
Hi there,

Great move publishing the code for this service, I can't wait to see it grow!

This issue is a small suggestion to move from GPL to AGPL. [This article](https://www.gnu.org/licenses/why-affero-gpl.fr.html) (in french) shortly summarizes what the difference is. The TLDR is: AGPL also forces the entity that hosts your code on their own servers to share the code if they modify it. Their ma

[2020-04-29 09:22] lutangar opened #224 "Contributor normalizer behave differently on staging"
I recently added `noticesUrls` to the contributor normalizer, locally, it's rendered as an `array` as it should be, but on `staging` it's rendered as an `object` with numbered keys :/
Maybe dependencies aren't up to date on `staging`?

[2020-04-30 11:08] JalilArfaoui commented on #224
Normally, given the `composer.lock` we should have the same dependencies installed …

I’ll look into it …

[2020-04-30 11:34] JalilArfaoui commented on #224
One difference between our dev stack and staging that may have an impact here : mariadb vs mysql …

[2020-05-01 12:45] MaartenLMEM commented on #223
Merci @Betree pour ton conseil ! On a fait le changement en ce sens.

[2020-05-04 07:56] #224 closed

[2020-05-06 08:03] #223 closed

[2020-05-11 15:34] JalilArfaoui commented on #196
Working now …

[2020-05-11 15:34] #196 closed

[2020-11-14 19:12] koalp opened #294 "Self-host and federation"
It would be nice to be able to self-host the backend of DisMoi and to have retrieve information from multiple backend. I know that it would require a huge work, but I think that it could help to spread the use of this awesome project.

It could maybe be done by using the activitypub protocol to federate the backend.

[2020-11-16 09:21] lutangar commented on #294
Hey @koalp the tech team is thinking about federated server and to embrace the activitypub protocol for a while now.
This is actually discussed with the whole team, especially for the past weeks. BUT as of today this is not (yet) a priority.

Thanks for posting this issue on the backend repository anyway.
I'm thinking about adding a specification file somewhere with everyone thoughts.

[2020-12-15 22:47] MaartenLMEM opened #299 "Give User a role than have access to bubbles and domains"
**Context**
We have more and more external contributors that uses BO.
"Utilisateur" status being not working, we give them amdin status. Thus, they can do everything, such as other user passwords !

**Aim**
We want to give them a normal user role with restricted rights to access and modify some parts.

Currently, there is a User Profil.
Open him access to
- "Bulles" section
- "Domaines" section
Co

[2021-01-19 19:01] MaartenLMEM opened #302 "When a user creates a contribution with DisMoi Add-on, it creates a private bubble in Backoffice."
NB : de mémoire cette fonctionnalité avait été commencée par @JalilArfaoui

Actuellement, lorsqu'un utilisateur crée une bulle depuis l'extension, un mail est généré et traité par l'équipe éditoriale via des copiés collés.

La  présente évolution vise à ce que la contribution soit directement pré-intégrée dans le BO.
L'alerte mail demeure ne fonctionnalité existante afin de prévenir l'équipe édito

[2021-01-20 21:51] JalilArfaoui commented on #302
Ça avait été commencé dans #161

[2021-02-03 09:14] christpet opened #303 "Create different FS Bucket for production & staging (Clever Cloud)"
Not sure the best way to describe this but wanted to get it written down - looking for your help @JalilArfaoui @achauve !
...

[2021-02-04 11:26] JalilArfaoui commented on #303
Perfect description 👌🏾

[2021-02-04 14:09] christpet opened #304 "URGENT: Err 500 when users try to create a new contributor profile"
**Describe the bug**
Please see the Trello card here: https://trello.com/c/vtYQ4WWT/680-quand-je-cr%C3%A9e-enti%C3%A8rement-un-nouveau-contributeur-%C3%A7a-p%C3%A8te-parfois

[2021-02-09 15:33] JalilArfaoui opened #305 "iueu"

[2021-02-09 15:38] #305 closed

[2021-02-09 18:35] christpet opened #306 "Sources page: Add a "featured contribution" to the top of the Sources page"
**Problem**
When users sign up for DisMoi, they don't get to actually see a contribution. We only show them sources. This produces feelings of confusion.

**Solution**
If we give them an easy way to experience contributions in context right away, they will understand DisMoi faster.

**Intended outcome**
To increase activation and retention.

**Detailed walkthrough**
![image](https://user-images.gi

[2021-02-10 11:14] christpet opened #307 "Find a way to reduce the publishing delay for bulles"
There is a publishing delay when a user submits a contribution, described in this thread: https://dis-moi.slack.com/archives/CJUTD4M45/p1612942434022700

How can we reduce this delay? What are the options?

[2021-02-10 11:36] lutangar commented on #307
Could you copy/paste the relevant parts here please? Or sum it up the way you understand the issue?

[2021-02-11 08:46] christpet opened #308 "Sentry: Exhausted event quota"
Just received a message saying we have exhausted our event quota on Sentry. So now we have to either 1) upgrade our plan or 2) reduce the volume of events.

It looks like the vast majority of events are coming from this one issue:

![image](https://user-images.githubusercontent.com/32476396/107615920-50deea80-6c4d-11eb-909c-9727322d412f.png)

is this something we can address easily @JalilArfaoui o

[2021-02-16 20:47] JalilArfaoui commented on #307
@christpet The main way is money here :

- Either we can handle all the traffic without CloudFlare caching => 💰

- Either we can pay for a non-free CloudFlare plan (https://www.cloudflare.com/fr-fr/plans/) to reduce the time between 2 cache updates  => 💰

![image](https://user-images.githubusercontent.com/3037833/108119536-3f0fa400-70a0-11eb-9584-a3b6d9db1770.png)

Do we know the order of magnitud

[2021-02-16 21:02] JalilArfaoui commented on #308
I will look into in @christpet

It reminds me of one issue (don’t know yet if it’s related) you should be aware of @christpet (and @lutangar and @MaartenLMEM too) is that we have a lot of outdated extensions out there, that may be the source of some Sentry issues we see.
We don’t know they did not get updated to new versions, even though it may be just a user choice to disable automatic updates …

[2021-02-22 08:37] antoinewolff opened #309 "Create and link a HOW_IT_WORKS.md file"
The idea here is to have on the backend interface, a link "How works the contribution back office ?" targeting a file HOW_IT_WORKS.md accessible through GitHub.

see : https://trello.com/c/OUc5U7jw/586-github-readme-add-how-to-contribute
see : https://docs.google.com/document/d/1kWvUA1vZ2ZQ1bHakqtim05X5fr-EyF3-xQ9zjdfyjs4/edit?usp=sharing

[2021-02-22 12:47] christpet opened #380 "Add "language" field to sources (English Version)"
This might be better placed in the Backend... dis moi :)

Sources need to be able to mark their language(s). We need to be able to know what language(s) a source posts in, so that later we can show posts in the appropriate language to users

[2021-02-23 12:08] christpet commented on #307
Thank you @JalilArfaoui this is super helpful. This just came up again today. I'll find out what delay we're OK with

[2021-03-01 10:49] christpet opened #310 "Bulk CSV upload of contributions"
No need to build an interface yet - just need to build in the ability to upload a CSV file with the correct information to create tens, hundreds, or even thousands of contributions at one time.

- [ ] Figure out columns needed in the CSV file
- [ ] lay out the approach to take
- [ ] implement!

@julienadamcom feel free to add/edit anything that is missing here

[2021-03-01 10:55] lutangar commented on #310
@julienadamcom I'm open to discuss CSV alternatives since we are on the way of implementing an API anyway.

[2021-03-02 14:55] MaartenLMEM opened #311 "[staging BO] Error 500 when creating a new admin user"
![image](https://user-images.githubusercontent.com/7824485/109666488-85b8d000-7b6f-11eb-9638-b9111f2ee571.png)

[2021-03-02 14:57] MaartenLMEM commented on #311
Hum : it seems I created a user with a username that already existed.
I think we can close this issue until it appears again.

[2021-03-02 14:58] MaartenLMEM commented on #311
I just tried to create a new contributor (not existing) all right it works.

[2021-03-02 15:51] christpet commented on #311
Ah! Okay, great news. Thanks for re-testing. I will close it for now. To note for the next contributor interface to put in some validation for this.

[2021-03-02 15:51] #311 closed

[2021-03-03 12:02] Goutte commented on #304
/spend 2d

[2021-03-03 14:15] JalilArfaoui opened #313 "GitHub action for production deployment"
Today we’re still `git pull origin && git push production` …

Let’s try GitHub Actions here …

[2021-03-03 14:22] JalilArfaoui commented on #310
#161 will be a useful prerequesite :-)

[2021-03-03 14:23] JalilArfaoui commented on #310
@julienadamcom if you need any help on this … I can help too

[2021-03-03 15:19] Goutte commented on #304
J'ai cherché la route responsable de la création et la màj des utilisateurs, sans succès :

[code]
Je vois que les users sont gérés par FoS, mais sans la route `/register`.
Pouvez-vous m'éclairer ?

[2021-03-03 15:26] lutangar commented on #304
[code]

This is the one you're looking for.

[2021-03-03 18:04] lutangar opened #314 "Prevent a user to impersonate another one when posting from the extension"

[2021-03-04 17:31] Goutte commented on #304
For reference, the complete error trace:

[code]

[2021-03-06 13:51] Goutte commented on #304
A quick solution to this would be to use a generated unique identifier for the filename instead of using the numerical id from the database.
It fixes the issue, and it somewhat protects against leeching of avatars, but we might want to be able to re-construct the contributor's avatar filename from the contributor `id`.  The `filename` field being stored in the `Contributor` entity, I guess we don'

[2021-03-08 10:20] MaartenLMEM opened #318 "As admin, I can't resest a password of my users"
Impossible de changer le mot de passe d'un utilisateur : [démo en vidéo]( chrome-extension://mmeijimgabbpbgpdklnllpncmdofkcpn/ng/app/app.html#/files/5f0e3045-109f-4cb1-ya23-9bffd1051e80)

Solution actuelle suivie pour contourner le problème : en tant qu'admin, je supprime l'utilisateur et je le recrée.

[2021-03-09 14:35] KaliviArf opened #319 "Similar Profile / Amazon Antidote ?"
FYI On the Amazon Antidote page, the suggested similar profile is a particular user who has nothing similar to Amazon Antidote .
https://www.dismoi.io/sources/60/Amazon-Antidote

![image](https://user-images.githubusercontent.com/78505335/110486305-d0e15e80-80ec-11eb-98e1-470a258ccb8d.png)

[2021-03-09 14:35] KaliviArf commented on #319
@christpet

[2021-03-10 15:06] prk-dismoi opened #320 "Separate stats for relayed contribution"
In order to enable/facilitate backend reporting for contributeurs, we need statistics pertaining to a relayed contribution to be aggregated per contributeur.

*Example:*

- bulle 1 is created by contributeur 1
- bulle 1 is relayed by contributeur 2
- in the new contributeur interface, the dashboard report for contributeur 2 shows only the stats accumulated on bulle 1 by contributeur 2

*data:*

-

[2021-03-10 20:01] newick opened #321 "Removes list of blocked websites"
As discussed with Maarten and Pierrick, we'd like to remove the list of blocked websites.

Historically, it was used by the contributing team to target for the whole Internet without too much exclusion rules.

With new contributors, we should allow them to publish on every websites.

The list can be deleted when the new contribution interface is ready.

[2021-03-11 09:27] MaartenLMEM commented on #321
... and after editorial team has verified there is no savage www regex.

[2021-03-15 22:25] JalilArfaoui commented on #313
OK @lutangar @christpet I’ve played with Github Actions on our https://github.com/dis-moi/blog/ repository and I’m ready to set it up in here so that @christpet has a simple button to push to production  …

But I can see that the issue went to top priority before the week-end and back to the backlog few hours ago … Is it still OK to do that ? Is it confirmed that we are going to move from Semaphor

[2021-03-16 08:34] #304 closed

[2021-03-16 08:35] #299 closed

[2021-03-16 09:20] christpet commented on #310
Just got an update from @julienadamcom that this is finished... looking for an update from him later today 🙏

[2021-03-16 09:50] christpet commented on #12
Closing this since no activity since 2016... Please feel free to disagree @JalilArfaoui @lutangar !

[2021-03-16 09:50] #12 closed

[2021-03-16 09:50] christpet commented on #38
Closing this since no activity since 2019.... Please feel free to disagree @JalilArfaoui @lutangar !

[2021-03-16 09:50] #38 closed

[2021-03-16 09:51] christpet commented on #39
Closing this since no activity since 2016... feel free to disagree @JalilArfaoui @lutangar !

[2021-03-16 09:51] #39 closed

[2021-03-16 09:52] christpet commented on #47
Closing... this is outdated since we will have new user roles as we build the new contributor interface.

[2021-03-16 09:52] #47 closed

[2021-03-16 09:53] christpet commented on #104
Closing this since no activity since 2019. If this is still relevant @JalilArfaoui please let me know!

[2021-03-16 09:53] #104 closed

[2021-03-16 09:54] christpet commented on #151
I think we can either update this or close it. It still seems true that Papertrail integration doesn't work. I don't know about the Clever Cloud bucket settings... maybe @JalilArfaoui can confirm. But until then I will close it!

[2021-03-16 09:54] #151 closed

[2021-03-16 09:56] JalilArfaoui commented on #151
@christpet CleverCloud settings is a thing … and not very expensive … just a config change

Papertrail can be forgotten I think

[2021-03-16 10:11] lutangar opened #323 "Clever Cloud bucket settings should not be hard-coded"

[2021-03-16 10:18] christpet opened #324 "Authentication API for contributions posted from within the extension"
This is referring to the conversation we had @lutangar around the new feature described here:
https://github.com/dis-moi/backend/pull/161

and here:
https://github.com/dis-moi/extension/pull/800

### Quick background:
- We created a way for users to post contributions to the backoffice as drafts directly from the extension. Yay!
- Users can also post a question to the backoffice, which shows up wi

[2021-03-16 10:34] lutangar commented on #324
@christpet I updated a few things since this go beyond the extension usecase.

The authentication mechanism will handle current and future usecase:
- Contribute from the extension
- Bulk contribution
- Contribution interface

The extension will need extra product design (interface, etc...) to use authentication, we should track this somewhere else:

[2021-03-16 10:41] christpet commented on #324
Oh okay fabulous, thank you! Sounds great. I will assign to myself then in order to push for definition.

[2021-03-16 10:46] lutangar commented on #324
Other subjects:
- preserve backward compatibility
- possible domain (models, etc...) evolution

[2021-03-16 11:36] MaartenLMEM commented on #324
About the solution : Do we really need authentification in extension ?
In those usecases, as extension user who want to contibute, I can authenticate in a webpage directly.
Because all really contextual informations (current webpage, even the message I started to draft...) can be saved without authentification a webpage.

[2021-03-16 12:26] christpet commented on #324
Good point @MaartenLMEM , we should be clear that the usecase requires authentication in the extension. This is something to discuss with Pierrick and coordinate with the new contrib UI.

Because through [this feature](https://github.com/dis-moi/extension/pull/800) all bulles posted will be posted as "drafts", [this problem](https://github.com/dis-moi/backend/issues/314) is not too much of a risk.

[2021-03-16 13:11] MaartenLMEM commented on #324
=> Yes currently it's sent from extension. But tomorrow we can imagine a webpage stage to complete my contribution started in my extension, in context.
To summarize, I see two options :
1. Keep contribution publish function in extension, create an authentification in extension and deal with all specific issues related with this in extension option : technical complexty, privacy matters...
2. Put t

[2021-03-16 17:51] JalilArfaoui commented on #313
@lutangar @christpet I find you’re slow to answer ! 😇

[2021-03-16 20:13] christpet commented on #313
Haha thank you for the ping 😅

I actually don't mind using Semaphore to push to prod, is there a big reason we should switch to GA instead? It would save me a few steps, but it's not that much time saved for the team overall... am I missing something?

[2021-03-16 21:09] julienadamcom opened #325 "Automatic contributions for CaptainFact fact-checking"
Connection to the CaptainFact's GraphQL API to sync their DisMoi contributions and the youtube videos they analyse.

Usage: when a DisMoi user watches a video on youtube, if he follows the CaptainFact contributor and if the video has been analysed by the CaptainFact community, a bubble appears and allows to read the results of this analysis.

[2021-03-16 21:11] julienadamcom commented on #310
Not really, but our real high priority of the moment is done here (without csv): https://github.com/dis-moi/backend/issues/325

[2021-03-17 08:39] lutangar commented on #310
Could you push your WIP somewhere around here please? We could already have a look at it while you're working on #325

[2021-03-17 09:09] christpet commented on #325
Thanks for submitting @julienadamcom ! Looks great. Could you add a little more info about why this is high priority? Would this cause a lot more users to start using Dismoi, or improve retention a lot?

I want to make sure we're building things that help us reach those top-level goals, and not *just* because a partner asked for it.

Also, could you add an estimate of what size project this is? XS

[2021-03-17 09:50] #302 closed

[2021-03-17 10:51] lutangar commented on #313
The SemaphoreCI waiting times (quota) are getting more and more annoying as the project is growing.
If migrating to GA solve these issues, I'm all in!

[2021-03-17 11:00] JalilArfaoui commented on #313
@christpet We have to create the «button» anyway, be it with Semaphore or GA …
@lutangar OK I’ll do it

[2021-03-17 11:30] christpet commented on #313
Gotcha @JalilArfaoui thanks for the context. Sounds like you should go for it!

[2021-03-17 12:28] MaartenLMEM commented on #325
To help here, here are some criteria we use to assess contributions value that seem to me suitable to this kind of contribution features :
In order :
**1. Covering** more web experiences. It depend of audience, on a year.
**2. Relevance** : it matches pages that are really about the same matter
**3. Bring usefull and interesting information** : people spend time to read it, they appreciate it
**4.

[2021-03-17 14:04] christpet commented on #325
OK seems like a clear go from the prioritization perspective, thank you @MaartenLMEM for the context!

[2021-03-17 15:05] MaartenLMEM opened #328 "[Metrics] Views and open rate per time span for each contributor / bubble / website"
**Need**
To better understand impact of contribution work we need some basic consultation metrics.

I. First one is **open rate,** which means : when a bubble is diplayed, how many time it's open.
We need an overview :
- Per month is usefull for most of cases.
- Per week is usefull to assess our actions on very popular bubbles. For those, it s long to wait a month to know if my work I made is usef

[2021-03-17 15:09] MaartenLMEM commented on #328
to @J-oh-n for information
to @zhinu @christpet  for a first feedback about those extracts complexity and to discuss the best way to do it each month (or better each week) fornext 6 months.

[2021-03-17 15:42] christpet opened #329 "New test issue"
Write more abou it

[2021-03-17 15:50] #329 closed

[2021-03-17 16:37] christpet commented on #328
@julienadamcom you've been doing some work on the backoffice data so you might have a quick answer for how complex this is, otherwise @lutangar or @JalilArfaoui ? Whoever sees this first, please give us a quick estimate of size: XS - S - M - L - XL

[2021-03-19 09:34] newick opened #330 "Remove s to Bulles in content_title"
When we add or edit a Bulle, there's an "s" in the title: Bulles instead of Bulle.

I don't know where to find it, so I leave it here.
It's really not important but during a demo yesterday it hurt my eyes ;)

[2021-03-19 10:31] zhinu commented on #328
On my side, I know how to extract views per bubbles (with their id), and probably clicks as well. However, I don't know where to extract the other information pertaining to the bubble (i.e. date of creation, contributor id etc...)

[2021-03-19 12:44] julienadamcom commented on #328
let's talk about it, what you have is what I miss!

[2021-03-22 13:18] lutangar commented on #330
Are we still using the wording  __Bulle__  anyway?!

[2021-03-23 08:16] lutangar opened #332 "Implement an authentication API endpoint for users"
## Step 0

Allow users to login via an API.

## Step 1

### Mission
Update current model to allow this new feature and implement a new kind of user if necessary.

To see what's expected in the future for user roles and ACLs see this previsionnal table:
  | ASKER | USER | LITE | PRO | ADMINPRO | ADMIN
-- | -- | -- | -- | -- | -- | --
ask question |   |   |   |   |   |  
extension - view |   | ✅ | ✅

[2021-03-23 08:21] lutangar opened #333 "Allow a User/Contributor to post a notice via an API endpoint"

[2021-03-23 08:33] lutangar commented on #324
I created issue  #332 to tackle step 0 and step 1.
And then  #333  will follow.

@christpet @prk-dismoi could you take 2 minutes to read this [2016 issue](#12)
Concerns raised there are still valid in 2021, at least part of it.
I know it's code related but it presents very well some of challenges we will face when implementing Users, Authentication, Roles and ACLs related code.

[2021-03-23 13:34] MaartenLMEM opened #334 "Exclude DisMoi team visits and actions from analytics"
**Problem :**
Contribution is doing many test and improvment on notices. Also product team need to test bugs etc.
All these behaviours are counted in backoffice statistics.
It impacts data reliability for bubble with less than 100 actions and can mislead or make impossible to make decisions based on little samples.

**Solutions**
1. Analytics opt-ou preference in extension : https://github.com/dis

[2021-03-23 17:28] lutangar commented on #334
About 2...

This is exactly what `proding` actually is!

[2021-03-23 17:33] MaartenLMEM commented on #328
@julienadamcom Here are my notes after our meeting with @zhinu :

- Couverture d'expérience web : plutôt BO, mais cohérence données pourra être vérifié avec Matomo
- Taux de consultation : plutôt BO, semble t il pas possible par Matomo - car l'évènement consultation détail n'est pas isolé.

Donc le sujet est plutôt entre tes mains maintenant, en sachant que l'année dernière @JalilArfaoui m'avait f

[2021-03-23 17:38] MaartenLMEM commented on #334
Great I didn't know it does not transmit data !
Then we ll use it.  New issues coming ;-)

[2021-03-25 10:58] MaartenLMEM opened #335 "Backend sometimes down since yesterday, then almost everything is down"
Since yesteday we have some periods (minutes) where nothing is working : Cannot access backend, profiles pages on website, bubbles in extension....

It looks like it's related to a backend issue 52X

[2021-03-25 15:32] gregoirelacoste commented on #335
@MaartenLMEM do you remember at what time did you observe this issue yesterday ?

[2021-03-25 15:55] gregoirelacoste commented on #335
some issues: `[fastcgi:error] [pid 1260:tid 140242090718784] [client 46.252.181.103:54306] FastCGI: incomplete headers (0 bytes) received from server "/var/www/php5-fpm/php5.external"`
there were a lot of: `ool php: DIGEST-MD5 common mech free`

[2021-03-25 16:23] MaartenLMEM commented on #335
- Yesterday Wednesday March 24th happened minimum from 3:51 PM (see [slack message](https://dis-moi.slack.com/archives/C01HWUFRSJD/p1616511084001700) from Johan) and some minutes after (I was going to share the issue and I saww his message)
- Today thursday March 23th **between 11:48 AM and 11:57**
@gregoirelacoste

[2021-03-26 09:05] gregoirelacoste commented on #335
@lutangar @MaartenLMEM i did : `clever accesslogs --after 2021-03-24T15:00:00 --before 2021-03-24T16:00:00 -F json | jq .sT | sort | uniq -c | sort -nr > export.json`

The first column is numb of occurrence...

It give :

and: `clever accesslogs --after 2021-03-23T09:00:00 --before 2021-03-23T12:00:00 -F json | jq .sT | sort | uniq -c | sort -nr > export.json`

I don't see anything in particular

[2021-03-29 10:46] gregoirelacoste commented on #335
Since @MaartenLMEM notifed us fem minutes ago, i am looking the logs during the down time.
At every access tentative to notices.bulles.fr i see:
[code]
do you have explanation ideas ? @lutangar @JalilArfaoui

[2021-03-29 10:47] gregoirelacoste commented on #335
Since @MaartenLMEM notifed us fem minutes ago, i am looking the logs during the down time.
At every access tentative to notices.bulles.fr i see:

2021-03-29T10:38:24.301Z: [fastcgi:error] [pid 1262:tid 139797442704960] (104)Connection reset by peer: [client ] FastCGI: comm with server "/var/www/php5-fpm/php5.external" aborted: read failed
2021-03-29T10:38:24.301Z: [fastcgi:error] [pid 1262:tid 139

[2021-03-29 14:39] gregoirelacoste commented on #335
@lutangar there is `/var/log/php-fpm.log` and `/var/log/apache2` on clever cloud ssh, but permission is denied for me, maybe for you it's working ?

[2021-03-31 09:11] #325 closed

[2021-03-31 10:36] MaartenLMEM commented on #335
Today 31/03.2021 at 12:28 Backoffice did not work anymore.
At now at 12:35 he is still blocked.
![image](https://user-images.githubusercontent.com/7824485/113131524-9e271380-921d-11eb-8300-2249b3125e61.png)

[2021-03-31 10:39] JalilArfaoui commented on #335
Sorry for the delay !

I take a look !

[2021-03-31 10:41] gregoirelacoste commented on #335
@JalilArfaoui if you find more details logs, tell me please!

[2021-03-31 10:52] JalilArfaoui commented on #335
@lutangar If I understand well, the issue happenned just after you **raised** `memory_limit` from 512 Mo to 2 Go, strangely.

It seems that you changed that setting only on production … is there any reason it’s not on master ?

![image](https://user-images.githubusercontent.com/3037833/113133383-ddeefa80-921f-11eb-8f57-f9d6cf1c86ee.png)

Maybe we allowed PHP to consume more memory than available ?

[2021-03-31 10:59] JalilArfaoui commented on #335
Backend being unreachable does not seem to be related to missing memory :

![image](https://user-images.githubusercontent.com/3037833/113134266-e09e1f80-9220-11eb-8025-3ce37e0c8904.png)

[2021-03-31 11:18] JalilArfaoui commented on #335
It seems to have started with commit 441bda58

[2021-03-31 11:20] JalilArfaoui commented on #335
I’ve rolled back to bf8d2162 while we’re still investigating …

[2021-03-31 11:21] JalilArfaoui commented on #335
@gregoirelacoste @christpet @MaartenLMEM please tell if you experience any new unavailability … I’m monitoring and digging on my side

[2021-04-01 20:39] JalilArfaoui commented on #335
It’s been fine for 34 hours, so I’ve pushed commit 453ea38bf02e8ac99c758e2db49ebe4a0ecb0acc in production.

Please tell if you experience any new unavailability

[2021-04-01 21:58] JalilArfaoui commented on #335
It started breaking again (10 times in less than 2 hours, outside of office hours) …

I’m going back to 9beb2a34052f3010d5fd56669358af1491d08d4a

[2021-04-01 22:04] JalilArfaoui commented on #335
My bad, 453ea38bf02e8ac99c758e2db49ebe4a0ecb0acc was last commit on master, whether I wanted to push 1f38e6ceae9edd552e65b88579b77ee54a4b3097  …

It is now 1f38e6ceae9edd552e65b88579b77ee54a4b3097 in `production`

Let’s wait and see …

[2021-04-02 06:44] JalilArfaoui commented on #335
1f38e6c is broken too …

I’ve just got back to 98ae85fdce4e7a7dc37359dde673ecabad523a29

[2021-04-02 06:48] JalilArfaoui commented on #335
Sentry confirms that it’s an `OutOfMemoryError` on   https://sentry.io/organizations/lmem/issues/?project=1404898&query=is%3Aunresolved%20url%3A%22http%3A%2F%2Fnotices.bulles.fr%2Fapi%2Fv3%2Fcontributors%22

https://sentry.io/organizations/lmem/issues/2312489126/

[2021-04-02 06:49] JalilArfaoui commented on #335
We have 94 contributors on production, 56 on staging

[2021-04-02 07:11] JalilArfaoui commented on #335
I’m narrowing my suspicions to commit bcd773c97fbaf10b154989f4960c14dac90f1701

It’s sending a lot more data in `contribution.example` for each contributor …

- before

![image](https://user-images.githubusercontent.com/3037833/113390469-11519680-9392-11eb-95c2-6b668ef76509.png)

- after

![image](https://user-images.githubusercontent.com/3037833/113390513-2dedce80-9392-11eb-9ed7-c81a3ccd67a2.png)

[2021-04-02 07:19] gregoirelacoste commented on #335
@JalilArfaoui thx !
I don't know for the others fields but we need at least `created` in pinnedNotices
GraphQL :+1:

[2021-04-02 07:34] lutangar commented on #335
Both!
https://github.com/dunglas/vulcain/blob/main/docs/graphql.md

[2021-04-02 07:35] JalilArfaoui commented on #335
@gregoirelacoste the reason you saw nothing in logs is because Sentry was enabled, but quota was depleted, so all our errors where swallowed :-/

[2021-04-02 07:35] lutangar commented on #335
omg again :facepalm:

[2021-04-02 07:43] JalilArfaoui commented on #335
@lutangar we’re just back on paid subscription, for the record

[2021-04-02 07:44] lutangar commented on #335
Not really no, but from my point of these fields aren't the source of the issue, I'll look for a recursion somewhere instead or at least a longer serie of nested objects.

`example` field was in fact kind of a different usecase than `pinnedNotices`. But yes we can decide to drop it and adapt the behavior accordingly.

I'd say we need both depending on the context, new backend API must supports the

[2021-04-02 07:46] JalilArfaoui commented on #335
I though that too, except the same code is working OK on staging … But yes maybe …

I’ll finish with this test first to see how it behaves, and then dig deeper …

[2021-04-02 07:47] JalilArfaoui commented on #335
I’ll check that too

[2021-04-02 07:54] lutangar commented on #335
I have second thoughts about this:
https://github.com/dis-moi/backend/blob/441bda58690b4fdd49cdc629d0ddaf90a96d50e2/src/Serializer/NoticeNormalizer.php#L75

[2021-04-02 12:00] MaartenLMEM opened #336 "[Metrics] KPI to drive and follow our contribution work impact on UX"
We need this numbers to see our results of march and define our objectives for April :
- Couverture d'expérience web mensuelle : Nbre bulles vues / utilisateur / mois
- Taux de consultation mensuel : % consultation détail / bulle vue / mois
- Taux de clic mensuel : % clic / bulle consultée en détail / mois
We need this data for last 3 months : March, February- January.
In a one sheet of Dashboard.

[2021-04-02 12:35] christpet commented on #335
@lutangar are we waiting for @JalilArfaoui to come back or is there something you could do in the meantime?

[2021-04-02 13:06] JalilArfaoui commented on #335
@christpet I'm just waiting a few hours to determine if 98ae85fd is stable, and then move forward

[2021-04-02 14:03] christpet commented on #335
@JalilArfaoui ok super thanks for the update!

[2021-04-02 14:14] MaartenLMEM opened #337 "[Metrics] Matomo server has usually server issues"
Last case in image below
- I just wanted to filter visits of homepage and see results per months
- This happened at 4:12 pm friday april 2th.

@zhinu reported also many issues during his investigations. Maybe he already reported them.

![image](https://user-images.githubusercontent.com/7824485/113423113-349a3700-93ce-11eb-8f3f-c87d5ce6de7b.png)

[2021-04-04 18:55] zhinu commented on #336
It should be done :)

[2021-04-05 17:30] JalilArfaoui commented on #335
https://github.com/dis-moi/backend/commit/98ae85fdce4e7a7dc37359dde673ecabad523a29 is OK

I’ve just pushed master + revert of bcd773c to production

[2021-04-07 12:56] christpet commented on #337
This might be a "too much data" problem. I'll keep this in the backlog because the priority right now is getting things into production, but this will come out as soon as we have done that

[2021-04-09 08:08] MaartenLMEM commented on #325
hello @julienadamcom un point dont on n'a pas discuté c'est la recette de cette automatisation CaptainFact.
Si j'ai bien compris c'est déjà en prod avec la prise en compte des matching context existants.
Est-ce que du coup Camille peut recetter ?

[2021-04-12 08:24] julienadamcom commented on #325
Hello @MaartenLMEM, je n'ai pas répondu tout de suite parce que j'ai dû adapter le regex ce weekend, mais tout est prêt maintenant et le contributeur CaptainFact a désormais ses 353 contributions et en effet Camille peut vérifier tout ça !

Reste à automatiser la synchro toutes les nuits, je programmerai ça pour la prochaine MEP

[2021-04-12 08:28] MaartenLMEM commented on #325
@CamilleRolland pour recette stp (à ta dispo si tu as des questions)

[2021-04-13 09:42] JalilArfaoui commented on #335
One week after : only 2 restarts …

So I confirm what I suspected in https://github.com/dis-moi/backend/issues/335#issuecomment-812367812

I opened a PR for the revert #341

I’ll open an issue with possible optimizations

[2021-04-13 09:45] JalilArfaoui commented on #337
Matomo is unknown to the backend, I’m transfering this to extension repo

[2021-04-13 10:09] JalilArfaoui opened #342 "Limit starred notices content when serving contributors list"
Following-up https://github.com/dis-moi/backend/issues/335#issuecomment-812367812

We should only include notice id and/or url when serving contributors list

[2021-04-13 12:17] #335 closed

[2021-04-13 13:28] MaartenLMEM opened #343 "Create sources & contributions in English (English Version)"
Target : US websites
Id there is a direct link to an alternative, Us website also, of course.

**Source 1 : TheWirecutter - 3 bubbles with scrrenshot
Name of contributor : TheWirecutter fan ?

[2021-04-13 13:31] MaartenLMEM commented on #343
@zhinu Do you have already have some interesting American or English sources to automate ? (I moved this question from another card)

[2021-04-13 14:32] MaartenLMEM commented on #333
@Goutte what's the size ?

[2021-04-13 15:10] MaartenLMEM opened #344 "Software and process to handle BO data"

[2021-04-13 15:11] zhinu commented on #344
#### to do

Replace WPS with python script to automatically analyze csv (panda & ipython : https://softwarerecs.stackexchange.com/questions/21628/linux-alternative-to-excel-pivot-table )

[2021-04-14 07:48] zhinu commented on #343
I am thinking about it. But the video games automation will work for en-US, as well as the first batch of scamblocker list.

[2021-04-14 07:56] lutangar commented on #343
Before adding any en-* contributor/notice we should, at least, add a simple discriminant to the model.
It could be a simple `lang` flag added to a `Contributor` AND/OR to a `Notice`.

Will then be able to propose a list of `Contributor` for given `lang` AND/OR a list of `Notice` for a given `lang`.
Are we going to create specific `Contributor` for given `lang` or shall a `Contributor` be able to p

[2021-04-14 09:07] MaartenLMEM commented on #343
@lutangar  Your remarks look good for this feature we plan to tackle after : https://github.com/dis-moi/extension/issues/794 Isn't it ?
Just a quetion : why before dev before content ?

[2021-04-14 10:33] sentry-io[bot] opened #345 "Calling endpoints with non-numeric IDs should throw HTTP 400 BadRequest"
(And HTTP 400 BadRequest should be ignored by Sentry)

Sentry Issue: [BACKEND-C4](https://sentry.io/organizations/lmem/issues/2011831561/?referrer=github_integration)

[code]

[2021-04-14 11:24] lutangar commented on #343
Because adding the discriminant afterward would involve changing the `Notice` and `Contribution` language manually.

[2021-04-14 11:41] MaartenLMEM opened #346 "Add discriminant language or country to the data model"
Starting point, this thread : https://github.com/dis-moi/backend/issues/343#issuecomment-819313978

To do before : https://github.com/dis-moi/backend/issues/343 (same issue)

[2021-04-14 11:45] MaartenLMEM commented on #346
@lutangar I created this issue folling you remark https://github.com/dis-moi/backend/issues/343#issuecomment-819313978.
We know we need a discriminant parameter.
I just broadened a little bit the issue : But do we need language or country one ?

[2021-04-14 12:23] lutangar commented on #346
It depends on the need. Both are possible. In software we have the concept of `locale` which is a combination of both:
https://en.wikipedia.org/wiki/Locale_(computer_software)

[2021-04-14 12:25] JalilArfaoui commented on #346
Totally agree on using locale standard !

[2021-04-14 12:28] JalilArfaoui commented on #343
I understand adding a `locale` field to a `Contributor` (or `locales` ?)

But it feels awkward on `Notice`s … Are we going to expect from a contributor posting from the extension that he specifies the language he/she’s using ?

[2021-04-14 13:37] J-oh-n commented on #343
3 suggestions of US-EN guides :
- [consumer] [Wirecutter](https://www.nytimes.com/wirecutter/) (NY Times)
- [fact-checking] [Washington Post Fact Checker](https://www.washingtonpost.com/news/fact-checker/), otherwise [FactCheck.org](https://www.factcheck.org/)
- [entertainment] [IMDB rating](https://www.imdb.com/) (property of Amazon)
ps : Oprah Winfrey crossed my mind but not much value

[2021-04-14 16:35] JalilArfaoui opened #347 "Performance and response time monitoring"
We need to know which requests take time, which DB queries are slow, what consumes memory, and how these change over time

## Links to dig

### Free OS hostable tools
- Prometheus / Grafana
  - https://jolicode.com/blog/comment-monitorer-rapidement-du-code-php
  - https://tsh.io/blog/grafana-and-prometheus-metrics/
  - https://blog.zwindler.fr/2020/04/13/decouvrir-prometheus-et-grafana-par-lexempl

[2021-04-14 16:45] JalilArfaoui opened #348 "Add all-contributors bot"
https://allcontributors.org/docs/en/bot/overview

[2021-04-15 08:26] lutangar commented on #348
Loving it! I discretely created an issue referencing all things we could do to make our repositories more appealing :octocat:

We could reference it there:
https://github.com/dis-moi/.github/issues/3

[2021-04-15 10:11] MaartenLMEM commented on #348
Questions to help prioritization :
- Does it presents only external contributors or also for for DisMoi dev ?
Currently :
- How many external contributors posted an issue ?  Do we know these guys ?
- How many pushed some code ?

- More general question related to some this issue and some itmes in https://github.com/dis-moi/.github/issues/3 : What can we expect in termes of contribution from this b

[2021-04-16 13:30] zhinu opened #349 "When creating a notice with a long Xpath - error 500"
So when trying to input the following xpath (for the guerilla marketing):

This error occurs:
![image](https://user-images.githubusercontent.com/75084558/115031450-75af4280-9ec8-11eb-8f59-dcb64b7d1fd1.png)

I needed to modify the notice #1869

[2021-04-16 14:31] lutangar commented on #349
@zhinu could you put together an example on `staging` env plz?
- Link to the backend notice
- Link to an example URL

Does it works when only looking for one sentence?

[2021-04-16 15:02] zhinu commented on #349
[notice #1259](https://staging-notices.lmem.net/admin/?action=edit&entity=Notice&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Faction%253Dlist%2526entity%253DNotice%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id=1260)

it works with a simple xpath

But same error with the longer one

[2021-04-16 15:03] zhinu commented on #349
The server doesn't seem to accept complicated xpath

[2021-04-16 15:03] zhinu commented on #349
[https://www.darty.com/nav/extra/offres?codic=4738454#state_1](https://www.darty.com/nav/extra/offres?codic=4738454#state_1)

[2021-04-16 15:31] lutangar commented on #349
Alright got it, field is too small:
[code]
Max length is currently `255` we must migrate this field.

[2021-04-18 07:46] felix-lambert opened #351 "When I want to add a contributor a 500 error appear after submit"
I've entered all the fields except "Bulles phares". I've added some images

It's in https://notices.lmem.net as admin

[2021-04-19 07:27] lutangar commented on #351
Looks like #304 but it was supposed to be fixed. Could you have a look at this @Goutte ?

[2021-04-19 09:09] #349 closed

[2021-04-19 12:42] MaartenLMEM opened #352 "Understand why we hve less views and less click per view on march 2021"

[2021-04-19 12:45] MaartenLMEM commented on #352
Before looking in data, do you have any hypothesis @Etienne-DisMoi @julienmazieux @zhinu ?

[2021-04-20 09:18] MaartenLMEM commented on #332
Important point @Goutte : User has an email and a password. He do not have a name.
Only contributors have a name.
It is important because, for a user, handling two names would be awkward.

[2021-04-20 09:19] lutangar opened #353 "Account system"
Term is not definitive but here's the idea:

Most users when creating an account will default  1 user = 1 contributor, we should think about an endpoint which will ease 80% of the uses cases of the API consumers.

- Create an account

[2021-04-20 13:06] Goutte commented on #351
Sure can !   Give me an error trace here or access to the https://notices.lmem.net in MP !

[2021-04-21 08:06] zhinu opened #354 "Certain Xpath-embedded concatenate data"
**Describe the bug**
We are having wrong backend data on certain notices that have an xpath connector.
![image](https://user-images.githubusercontent.com/75084558/115518833-e9669c00-a288-11eb-9453-d99ddffdc862.png)

When I visit a page where the notice should show (ie: https://www.leboncoin.fr/consoles_jeux_video/1959949521.htm?ac=2404136686), 3 badges and 1 aperçu are counted.

This is pretty pro

[2021-04-21 09:21] Etienne-DisMoi commented on #354
L'aperçu augmente de 2 à chaque fois que la bulle est vue ce qui est peut être du au "double" matching regex + xpath

[2021-04-21 09:34] Etienne-DisMoi commented on #352
Maybe regular users have already seen the biggest contributions and don't bother to click them anymore. Contributions that gather the most clicks are the ones that are on high traffic websites, if an user has already seen it, he will not click on the detail every time he meets the contribution, hence the fall of the click rate.

[2021-04-21 13:08] julienmazieux commented on #352
When we state "bulles vues/users", do we talk about the new (blue) ones? if yes then the decrease seems normal to me.
Users do not click mulitple times on a known bubble.

The variation on the ratio clic/detail seems not that significant (up and down).
If views decrease then clics on links also decrease.

My guess on the root causes and wayforward:
1. We need to produce more new bubbles vs users a

[2021-04-21 15:57] MaartenLMEM commented on #352
ok thanks guys
@zhinu
1. As discussed can you verify the main hypothesis shared by Julien and Etienne : `if an user has already seen it, he will not click on the detail every time he meets the contribution, hence the fall of the click rate.` With Julien words : `Users do not click mulitple times on a known bubble.`?

2. Can you start also second step this week or next week :  Find bubbles with big

[2021-04-21 17:51] MaartenLMEM commented on #333
Salut @Tonio @lutangar , questions sur le calendrier de l'API v4.
Au moins de 2 projets sont très dépendants de la nouvelle API :
L'automation des contributions
L'interface de contributions avancée
J'aurais besoin des quelques éclairages :
- Est-ce que les 2 projets ont le même délai d'attente de mis en prod de l'API ou bien, un version simplifiée peut déjà convenir à l'automatisation de contribut

[2021-04-21 17:58] MaartenLMEM commented on #333
Salut @Goutte  @lutangar  , questions sur le calendrier de l'API v4.
Au moins de 2 projets sont très dépendants de la nouvelle API :
L'automation des contributions
L'interface de contributions avancée
J'aurais besoin des quelques éclairages :
- Est-ce que les 2 projets ont le même délai d'attente de mis en prod de l'API ou bien, un version simplifiée peut déjà convenir à l'automatisation de contri

[2021-04-22 09:07] zhinu commented on #354
My hypothesis is that, a notice is triggered like that :

![Untitled Diagram](https://user-images.githubusercontent.com/75084558/115687708-bd1b5000-a35a-11eb-9408-0aa02dcf284e.png)

I think this would explain why a lot of the data is merged inbetween the various notices...

[2021-04-22 13:43] MaartenLMEM opened #356 "Profile Pages : examples are no nore displayed after highlighted examples"
**Describe the bug**
On profils pages, examples are no nore displayed after highlighted examples

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.dismoi.io/eclaireurs/16/Le-Meme-en-Mieux/ or https://www.dismoi.io/eclaireurs/116/Thinkerview-addict
2. See error

**Expected behavior**
These examples should be displayed

**Screenshots**
https://files.slack.com/files-pri/T032PBTS

[2021-04-23 08:07] zhinu commented on #354
@JalilArfaoui ^^

[2021-04-23 08:56] zhinu commented on #352
![image](https://user-images.githubusercontent.com/75084558/115845754-793f4e00-a421-11eb-982c-5d1c9c39477f.png)
To me, the only issue is the lack of growth. (see graph one, userbase fluctuate from 5k to 5.3k since january).
So logically the ratio is falling (see last graph).
###### 2 Solutions :
- Acquire new users, and mathematically this the new users will see more notices than old users so the

[2021-04-23 09:05] zhinu opened #357 "We need a heaptmap on our website"
##### Heatmap
We need to have a heatmap on our website since Matomo doesn't provide this service for free...

Heatmap.js could be a neat alternative
https://github.com/pa7/heatmap.js

[2021-04-23 09:09] zhinu opened #358 "Relay statistics don't exist"
##### No stats related to relay
Today we don't have the possibility to see who is relaying what, and as we move further into individual contributions, those contributions could be "picked up" by a larger channel we need this data.

i.e. specific data requested during the __data quality workshop__
Données spécifiques au relayage

    % de relayage par domaine ou groupe de domaine
    % de relayage

[2021-04-23 09:44] MaartenLMEM commented on #352
Thanks. Data are speaking.

About solutions, I agree but still I think it is important to have a look on our previous work.
So next step @zhinu  : **Find bubbles with biggest absolute difference** on these 3 metrics :
- Views
- Clicks on detail
- Ratio views clicks on detail

 And then the team will look on what happened at least on 20 first of each category.

[2021-04-23 10:40] felix-lambert opened #359 "`https://notices.bulles.fr/api/v3/matching-contexts` takes time to get"
I can wait sometimes 5 seconds before I can get the result. Sometimes it can be quite fast but it seems to be a bit random (maybe the first loading can take some time, then it's being fast?).

I think we need to investigate because the bubble can take time to appear on mobile so we can have the feeling that it does'nt work

[2021-04-23 11:52] MaartenLMEM opened #360 "BO stats : Count separately visits coming from profil pages to exclude them from real life stats"
Cuurently poeple who test profils contributions (us, partners, new users) are counted as real visitors it makes our stats less meaningfull and less good.

example : Sb who probably just installed DisMoi
![image](https://user-images.githubusercontent.com/7824485/115867227-18247400-a43b-11eb-81aa-131e67e62187.png)

[2021-04-23 11:53] JalilArfaoui commented on #359
I see a 100 ms response time … but the payload is nearly 1 megabyte … What’s the speed of your internet connexion @felix-lambert  ? …

In any case, you should not fetch https://notices.bulles.fr/api/v3/matching-contexts on every tab navigation, but rather in the background periodically, so that the list is always ready

[2021-04-26 07:20] lutangar commented on #333
@MaartenLMEM this issue was about posting from the extension and this is already in production.
I'm closing this and re-posting your comment in the new issue.

[2021-04-26 07:22] lutangar commented on #333
My bad this is the correct issue, I thought there was one with a description but nop :/

[2021-04-26 07:24] lutangar commented on #333
@Goutte correct me if I'm wrong but I think you said it was possible to ship "posting a notice" before the authentication part. But maybe the authentication part is not far from release?

[2021-04-26 13:36] felix-lambert commented on #359
Hello Jalil I can confirm that it's not internet connexion related because the chrome browser is rendering very fast. I do see the fetching being blocked for a few seconds sometimes (not everytime) but I will apply your recommendation to make this issue less prioritory

[2021-04-26 13:36] zhinu opened #361 "Make a daily copy of the mysql for analytics (and backup) purposes"
In order to automatically gather data from the add-on to create the analytics dashboard, mysql connectors are available.
Now those connectors can be a heavy load of the database, so a __good practice__ is to have a mysql backup from where the data would be pulled.

[2021-04-26 13:41] zhinu opened #362 "text() function in Xpath is case sensitive"
Hi is there a simple way to make this **text()** function not case sensitive?
The workaround I found it to use

instead of

It is pretty annoying, and the input needs to be in lowercase.

[2021-04-26 14:17] MaartenLMEM commented on #334
@lutangar thanks for this clarification
I put a new title on the issue. Could you size it please ?

[2021-04-26 14:23] lutangar commented on #334
Done.

[2021-04-26 16:41] lutangar commented on #362
Yeah this is problematic,  and yes the workaround is correct and was documented:
https://github.com/dis-moi/backend/blob/master/docs/xpath.md#examples

We could use a [Javascript implementation of XPATH 2](https://github.com/ilinsky/xpath2.js) instead of the native xpath 1,  but we'll need to run a few test. As you know, matching engine need to be as fast as possible.

Another option would be, as

[2021-04-26 17:09] felix-lambert commented on #359
https://github.com/dis-moi/mobile_poc/issues/78

[2021-04-27 10:42] zhinu opened #363 "Matomo's stats are not consistent with the backend"
| date/Notice id | 2021.04.04 | 2021.04.04 | 2021.03 | 2021.03 |
|----------------|------------|------------|---------|---------|
|                | badge      | aperçu     | badge   | aperçu  |
| 450 - matomo   | 500        | 18         | 16484   | 507     |
| 450            | 534        | 15         | 18308   | 402     |
| 1028- matomo   | 501        | 16         | 25727   | 2057    |
| 1028

[2021-04-27 11:24] zhinu commented on #362
yep xpath 2.0 with __matches__ would be great!

[2021-04-27 11:54] zhinu opened #364 "Notices seem to trigger too many actions (faking statistics on Matomo)"
Below is what I found out :

## Amazon.fr
### 2 notices already read (grey)

[code]

where the __Query String Parameters__

[code]

## adopteunmec.fr
### 1 notice unread (popup)

[code]

where the __Query String Parameters__

[code]

[2021-04-27 12:12] zhinu commented on #344
Issue not relevant anymore with the google data studio/metabase dashboard.
linked with [https://github.com/dis-moi/backend/issues/361](https://github.com/dis-moi/backend/issues/361)

[2021-04-27 12:12] #344 closed

[2021-04-27 12:13] zhinu commented on #320
linked to [https://github.com/dis-moi/backend/issues/358](https://github.com/dis-moi/backend/issues/358)

[2021-04-27 12:47] MaartenLMEM commented on #352
With Julien, Jules are going to have a look this week.

[2021-04-27 12:51] MaartenLMEM commented on #328
Actuellement problèmes restants :
- différence entre entre data de matomo et BO see #363
Ce n'est pas bloquant.
Next step : Je vérifie que ça répond bien au besoin exprimé.

[2021-04-27 12:52] MaartenLMEM commented on #364
related to #363

[2021-04-27 12:54] MaartenLMEM commented on #358
related to #320
will come after https://github.com/dis-moi/extension/issues/772

[2021-04-27 13:41] MaartenLMEM commented on #362
Just discussed with Johan. Value of this feature is limited and I better understand downsides mentionned by Johan.
Summary : It impacts just human users.
It goes back to backlog

[2021-04-27 13:45] MaartenLMEM commented on #343
https://trello.com/c/f4VVO60I

[2021-04-28 11:44] zhinu commented on #362
Actually xpath 2.0 and 3.0 seem hard to test. Browsers don't natively support them and there aren't many tools available (with a nice looking gui). So yep sticking to 1.0 is probably best for now

[2021-04-28 17:08] MaartenLMEM commented on #349
@zhinu Can you confirm it is working well now ?

[2021-04-28 17:19] MaartenLMEM commented on #351
@Goutte I create an access and sent it to you by MP.

[2021-04-28 18:19] MaartenLMEM opened #366 "Stats Acquisition CaptainFact"
- Nombre de nouveaux abonnés en mars et en avril 2021

[2021-04-29 07:55] zhinu commented on #366
On peut voir la metrics de nouvelles installations (firefox + chrome) sur le dashboard. @MaartenLMEM c'est un autre chiffre qu'il faut?

[2021-04-29 08:06] zhinu commented on #366
Mois de mars
![image](https://user-images.githubusercontent.com/75084558/116520005-72f21b80-a8d2-11eb-9891-c4311062ecef.png)

Mois d'avril (jusqu'au 24)
![image](https://user-images.githubusercontent.com/75084558/116520092-8d2bf980-a8d2-11eb-9ac8-d86470ce43ed.png)

[2021-04-29 08:07] prk-dismoi commented on #332
Hi @Goutte/@lutangar what is the latest on this one?

[2021-04-29 08:10] zhinu commented on #349
Yes all good now :)

[2021-04-29 09:06] zhinu commented on #366
If we want to have stats directly related to certain partnership, we could
- segment the amount of users that click on the install button on the website with a visit on a certain contribution page
- Use tracked links and see if it converts to clicking on the install button

But the issue with matomo remains that
- clicking on the button doesn't convert 100%
- matomo's stats are blocked by adblock

[2021-04-29 10:08] MaartenLMEM commented on #366
Oui le chiffre dont nous avons besoin est plutôt :
- la variation du nombre de followers de CaptainFAct chaque mois

[2021-04-29 10:27] MaartenLMEM opened #367 "Prevent contributor dangerous mistake : a pipe without anything after"
**Problem**
On bubble 1859, there was this regex line : `(nest.audio|nest.mini|home.mini|nest.hub|lenovo.smart.clock|lenovo.smart.display|homepod|) `

Contributor forgot one pipe at the end of his regex.
Consequence : It matched with all page of website listed in domain list.

Many users have bee annoyed during their navigation, stats were thus awful :
![image](https://user-images.githubuserconten

[2021-04-29 11:33] zhinu commented on #366
Je n'ai pas ce chiffre @julienadamcom tu penses que la copie des tables mysql, ça serait possible d'avoir ce détail?

[2021-04-29 16:14] MaartenLMEM opened #368 "Who can I update a bad matchiing context for all users in a minute ?"
## Problem
We made a mistake in a matching context (faux positif on all page of many websites).
We discovered it and made the change.
But 4 hours later ther are still user victim of the previous bad matching context.

## better solution in BO ?
As contributor, is it better for en users to change notice status to private ? I man will solve problem earlier for everyone ?

## Other solution to bring

[2021-04-29 16:18] MaartenLMEM commented on #302
testé ! du travail de pro !

[2021-04-29 17:04] MaartenLMEM opened #369 "Make the advanced contribution tool close source"
First step : sizing
@gregoirelacoste could make a first guess and then Jalil and Johan will review
Please list tasks involved to make this change and to work well with this separate repo next months.

[2021-04-30 08:58] Goutte commented on #333
Yes !  I'm almost there (I hope).  We still need to test and figure out which properties of a Notice are writable.  I'm working on it right now if you want a call (I'd like one).

[2021-05-01 19:53] MaartenLMEM opened #371 "automatic mail when a user ask an advice or information - CaptainFact case"
Case : Some users are asking factchecking from CaptainFact community.
Problem : it take a long time to be sent, follow and to anwser them, also there it is hard to ask CaptainFact to build up a process just for Dismoi demands.
Solution : If a user ask help to CaptainFact, send him this standard mail :
    Bonjour,
    Via DisMoi, vous avez demandé un éclairage à la communauté CaptainFact concernan

[2021-05-03 08:54] #351 closed

[2021-05-03 15:34] lutangar opened #375 "Implement (advanced) Contribution Interface (MVP) missing endpoints"
As the (Advanced) Contribution Interface project moving forward will need the following [features for the MVP](https://github.com/dis-moi/contribution-Interface/issues?q=is%3Aissue+is%3Aopen+label%3AMVP)

Are the following endpoints implemented yet @Goutte ? I
If so let's tick the boxed and the name exact name instead.
if not, we will implement the missing endpoints in this issue :
- [ ]  create a

[2021-05-03 16:36] lutangar commented on #371
Specific contribution code is out of the scope of __Dismoi__ backend, this kind of behavior should be implemented somewhere else.

In order to allow such behavior to exists 2 possible solution:

## Hook system
We could implement a hook behavior:
1. A user ask a question to the contributor `X`
2. If a a hook is configured on the `NEW_QUESTION` `event` for `X`
3. Hook URL `Y` is called with the ques

[2021-05-03 16:59] julienadamcom commented on #371
+1 for the hook !

[2021-05-03 22:46] Goutte commented on #375
I can safely say that **none** of them are implemented yet in the API v4.  :3

[2021-05-04 11:14] zhinu commented on #361
Test is being done with the preprod database. (see page 4 dashboard)

[2021-05-04 12:00] zhinu commented on #366
A way could be to store this data (in mysql subscription) somewhere everyday. And see the variation.

[2021-05-04 12:15] MaartenLMEM commented on #366
thanks @zhinu can you give a size of work for this option ?

[2021-05-04 12:29] zhinu commented on #366
This option was presented by @julienadamcom so it would be more appropriate for him to size this option

[2021-05-04 12:40] MaartenLMEM commented on #366
ok discussed look S, and will be done in the same time as #361

[2021-05-05 08:45] gregoirelacoste commented on #369
@JalilArfaoui @lutangar to know the implication of this task, we must first validate the stack.
I would go on the same as profile (react, redux ...).
However, we could also consider php, as is the case today for the contribution interface?

[2021-05-05 09:26] lutangar commented on #369
I changed the title, because it wasn't clear enough. We'll discuss the implications in this afternoon meeting.
As for the stack this will be a PWA made with React, others libs choices may be subject to changes depending on the strategy.

Making this tool private would require the following:

Pros:
- New stack without previous technical debt?
- ???

Cons:
- New stack to setup (time)
- we can't reus

[2021-05-05 09:33] gregoirelacoste commented on #369
if thanks to NX we can have multiple public repositories and a private repository, it might solve time and shared component issues:
maybe an answer: https://github.com/nrwl/nx/issues/1235

[2021-05-05 12:35] MaartenLMEM opened #376 "Bypass cloudflare cash when there is a new contribution (and update)"
Some stakes described here :
https://github.com/dis-moi/extension/issues/887

**Target user**
First it internal users.

[2021-05-05 15:37] JalilArfaoui commented on #369
I don’t get it.

We can always let our client (here, the advanced contribution interface) open source and have a feature control at the backend-level. Meaning that if a user wants to use a paid feature, we can allow/reject the request at the backend side, depending on his/her/its subscription.

And even inside the advanced contribution interface, we might want to differentiate between a couple of

[2021-05-05 15:43] gregoirelacoste commented on #369
Isn't there also the desire to offer a single tool to centralize contributors within a single space and thus speak more simply to them?

[2021-05-05 16:47] newick commented on #369
in a near future, the Users could contribute form this UI and the extension, and if I got it correctly, from the mobile app.

IMO if a better interface exists and can be plugged to our backend, it's a win, it means people want to contribute.
And if I get correctly @JalilArfaoui's point, we could limit it depending the kind of account.

[2021-05-11 12:22] zhinu opened #377 "notice #1918, has wrong stats"
This notice, although up for only around 10 hours shows 1500+ bages.

[2021-05-12 14:40] MaartenLMEM commented on #363
@zhinu hypothèse peu probable : Matomo et/ou le BO compte différemments les évènements selon qu'ils sont relayés ou pas.

[2021-05-13 12:53] lutangar commented on #343
@MaartenLMEM I think we still need your input on this.

[2021-05-13 13:14] MaartenLMEM commented on #343
Main language is only a contributor property, in order to display him before other contributoprs to users spaking same language.
Currenlty, we do no need a language property on notices.

[2021-05-13 13:17] MaartenLMEM commented on #343
Please take this comment in account for https://github.com/dis-moi/extension/issues/795

[2021-05-13 13:19] MaartenLMEM commented on #343
Content are online and validated.

[2021-05-13 14:31] lutangar commented on #343
Which comment?

What content are you talking about? Could you link them?

[2021-05-13 14:34] MaartenLMEM commented on #380
Take in account [discussion here](https://github.com/dis-moi/backend/issues/343#issuecomment-840553764) and its conclusion :
"Main language is only a contributor property, in order to display him before other contributoprs to users spaking same language.
Currenlty, we do no need a language property on notices. Admin will handle contributor's language mannually in BO"

[2021-05-13 14:37] MaartenLMEM commented on #343
Sorry was a mistake.

Based on https://trello.com/c/f4VVO60I ... but I see John asked some refinement, but doesn't matter, from our point of view it s done.
Current card is only about contents : creating profiles and their contributions.

[2021-05-14 09:51] MaartenLMEM opened #383 "Le statistiques du BO sont-elles vraiment sur les 3 derniers mois ?"
D'après @zhinu et @julienmazieux , les stats chiffrées affichées sur les actuel sont sur plus de 3 mois.
La vision graphique est bien sur 3 mois, mais les stats des badge, vue, clics etc. seraient sur une période plus longue.
Est-ce vrai ?
Si oui peut-on les passer à 3 mois facilement ?

[2021-05-17 07:49] gregoirelacoste commented on #343
If only the language of a contributor is specified, nothing will tell that a notice is effectively in the contributor language and not in another language.
Indeed, it may be possible that a contributor wants to translate his notice into several languages to maximize his visibility for example.

Wouldn't it be interesting to put the local property to both?
By always taking the contributor's languag

[2021-05-17 08:07] gregoirelacoste commented on #380
my opinion: https://github.com/dis-moi/backend/issues/343#issuecomment-842097206

[2021-05-17 08:11] MaartenLMEM commented on #380
Followinf our discussion this morning with @gregoirelacoste

It will be usefull later. Nobody will use it for a while.
So if it is same work, let the option on notice BO as last field.
I agree with your logic :
- Profil : main language is an by default attribute for his contributions
- Contribution : has an language

Côté extension,
on affiche en 1er les bulles de la langue de l'utilisateur, et en

[2021-05-17 09:59] JalilArfaoui commented on #343
I have mixed feelings about that.
- In one hand, I see that Twitter for instance does not allow a user to specify in what language is written a particular tweet.
- In the other and, I see users struggling with this fact, either creating one account per language or having a unique account with duplicated tweets when they want to localize their messages … And I realize that it would be a nice featur

[2021-05-17 13:59] MaartenLMEM commented on #343
Yes it s automated in their algorithm. We are at the first stage, so we do it manually, one by one.

This is an advanced usage. hope we ll have this kind of problem soon ^^

Yes this field is planned.

[2021-05-17 14:11] MaartenLMEM commented on #343
all thoses comments apply to https://github.com/dis-moi/extension/issues/795
Current card is done.

[2021-05-17 14:12] #343 closed

[2021-05-19 14:35] MaartenLMEM commented on #368
will be improved with https://github.com/dis-moi/backend/issues/376

[2021-05-19 18:24] MaartenLMEM opened #385 "Contribution: when I add a link in my message it can be misinterpreted (as a regex ?)"
Dans la bulle 1948 il y a écrit dans le message dans le BO : https://twitter.com/search?q=%23bzhg&amp;src=typed_query

Côté extension cela donne : twitter.com/search&src=typed_query

Lien vers la bulle : https://notices.lmem.net/admin/?action=edit&entity=Notice&menuIndex=0&submenuIndex=-1&query=N%E2%80%99eo%20ket%20bet%20troet%20&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fa

[2021-05-19 18:30] MaartenLMEM commented on #385
Pour résoudre le problème côté contribution avant qu'il soit résolu coté produit, j'ai modifié le contenu de la bulle comme suit : <a href="https://twitter.com/search?q=%23bzhg&amp;src=typed_query">o mesajoù e brezhoneg !</a>
A suivre

[2021-05-21 07:42] zhinu opened #386 "Add 'matching-context' parameters in Api v4 when posting notices"
Currently, when posting notices using api v4, the only available parameters understood in the body of the post request are :
[code]

In order to achieve a full working proof of concept of posting notices via api, we would need to add something similar to that :

[code]

[2021-05-21 09:56] zhinu commented on #386
@CamilleRolland

[2021-05-24 16:13] MaartenLMEM opened #387 "Reactiver CaptainFact"

[2021-05-24 17:52] julienadamcom commented on #387
I made a fix on the script to make it usable prod

[2021-05-25 11:42] MaartenLMEM commented on #369
Following meeting about this subject leaded by John,  this is issue is closed.

[2021-05-25 11:42] #369 closed

[2021-05-25 11:49] MaartenLMEM commented on #383
Je confirme de mon côté le problème. Si besoin je pourrai aller chercher un exemple pour le prouver.

[2021-05-25 14:19] MaartenLMEM opened #389 "% Uninstall / active user"
Churn is an important KPi to follow.
Can we add it in Dashboard, in general KPI ?

[2021-05-25 14:47] MaartenLMEM commented on #387
@julienadamcom please have a look at this doc : https://docs.google.com/document/d/1kWvUA1vZ2ZQ1bHakqtim05X5fr-EyF3-xQ9zjdfyjs4/edit#heading=h.exc0obrxn76b
Can you tell me if you trust this regex ?
If yes, could you add the end of this regex to each captainfact video imported in regex ?

[2021-05-26 12:47] MaartenLMEM commented on #361
@zhinu please note quickly here what has been done here and what new issues you met.

[2021-05-26 14:50] lutangar commented on #353
Might be interesting to consider will implementing endpoints for the contribtion itnerface in #375

[2021-05-26 15:56] Goutte commented on #386
@zhinu I've pushed some changes to the #feat-333 branch to that effect.

[2021-05-26 15:59] JalilArfaoui commented on #386
Testable here in the meantime : https://v4-notices.bulles.fr/api/v4

[2021-05-27 13:05] MaartenLMEM opened #390 "Contributor ranking per nb of bubble read"
Add it to dashboard Classement contributeur please https://datastudio.google.com/u/0/reporting/9d5212b1-9645-4461-80ac-3dee35ca6eb1/page/pRKIC

- it s more relevant than covering pages
- I need to see the resulting ranking because we plan to present contributors in this order to users.

[2021-05-31 07:49] zhinu commented on #386
@Goutte  I'm having issue posting a notice. I think there might be a problem with contributor:"string"
Whatever I try (name, id), it just gives me this 400 error :
[code]

[2021-05-31 14:17] Goutte commented on #386
The important bit is this :

[code]

An IRI in our API is like an ID, but fully qualified, like so:

[code]

[2021-06-08 16:04] MaartenLMEM opened #392 "Translate categories and form messages"
**Forms**
for example " Les champs en rouge sont incorrects ou incomplets "

**Contributors categories**
Conso, Culture & société, militant, autres

[2021-06-09 12:51] gregoirelacoste commented on #385
c'est la fonction `new \HTMLPurifier())->purify($message)` qui transforme `&` en `&amp;` Cela permet d'éviter des hack par XSS
@MaartenLMEM  @JalilArfaoui que fait-on ? on peut ajouter une exception à la config de HTMLPurifier pour accepter les `&` avec les risques que ça implique ou on laisse tel quel et la contribution devra gérer ?

[2021-06-09 13:07] MaartenLMEM commented on #385
hum je dirai t'embête pas si effectivement ça engage de la complexité

[2021-06-09 13:46] JalilArfaoui commented on #385
I think either we don’t permit HTML in incoming notice messages, either we handle it seriously …

Since we’re in the second option for now, I would suggest that URLs are detected and turned correctly to anchors when notice is saved and not only in response to a GET request.

Today, it seems that on `Notice->setMessage` we save a raw **but purified** message, and it’s only when we serialize to resp

[2021-06-09 15:25] gregoirelacoste commented on #385
Set message have already a fonction which escape the html with purify on post from front and back. I tried, and HTML char are escaped after this fonction.
Add links to url, seems doing the same thing on this case, no ?

[2021-06-10 10:12] #386 closed

[2021-06-10 10:12] zhinu commented on #386
Matching context was added

[2021-06-10 13:14] MaartenLMEM commented on #385
Ok we ll have a look after Contribution advanced interface is developped

[2021-06-11 15:12] JalilArfaoui commented on #385
@gregoirelacoste Actually `addLinksToUrl` is a function that changes `some text with http://some.url` to something like `some text with <a href="http://some.url?utm_medium=DisMoi" target="_blank">http://some.url</a>`

We’ll see how to get this better …

[2021-06-13 18:21] zhinu opened #393 "Contributor intro is limited to 255 characters"
![image](https://user-images.githubusercontent.com/75084558/121817948-a6231b00-cc84-11eb-9940-4f3f9ea2bb9c.png)

Negative side effect :
- Some intros need more than 255 characters
- Including any type of svg path or other small visual code won't work.

[2021-06-13 19:07] zhinu commented on #393
![image](https://user-images.githubusercontent.com/75084558/121819042-57c54a80-cc8b-11eb-803d-ed6dcfc90345.png)
The db structure in itself doesn't allow for more than 255 chars

[2021-06-14 06:53] MaartenLMEM commented on #393
@gregoirelacoste I pass the task to you.
- On contributor side in BO, I do not see any restriction.
- On internet user side, profiles texts are used on profile page only.
Please see directly this matter with @zhinu .

[2021-06-18 15:23] lutangar opened #395 "Some API v4 paths should be accessible top anonymous users"

[2021-06-18 15:24] #332 closed

[2021-06-22 07:48] MaartenLMEM opened #401 "BO : interdire l'étoile seule dans le champ Regex"
Lorsque l'utilisateur met juste une étoile dans le champ regex :
- le champ devient rouge (comme lorsque la regex ne matche pas avec l'url exemple)
- optionnel : le contributeur ne peut pas enregistrer sa bulle (_Ne faire cette partie que c'est rudimentaire et sans risque d'effet secondaire_)

[2021-06-22 13:37] #380 closed

[2021-06-24 12:10] gregoirelacoste opened #402 "Local:getDefaut on migration set US to locale contributor"
All contributors are now set with `Local: en_US_POSIX` instead of `fr` (only staging)
I think that Local:getDefault return en_US_POSIX instead of the env variable default_locale during migration
@lutangar

[2021-06-24 12:41] lutangar commented on #402
Just hardcode `fr` in the migration, no worries.

[2021-06-24 12:45] lutangar commented on #402
I changed the locale for the `contributor`s on staging database but `notice` `locale` are still set to `null` dunno if it's normal.

[2021-06-24 12:49] lutangar commented on #402
Don't if it's connected but the following URL return a 500:
https://staging-notices.bulles.fr/admin/?action=show&entity=Contributor&id=78&referer=

[code]

[2021-06-25 14:31] zhinu commented on #389
State of the art to do (or to find in previous documentations).

[2021-06-29 12:53] #393 closed

[2021-06-29 13:04] #402 closed

[2021-06-29 15:23] MaartenLMEM opened #405 "Separate website regex from the rest of the reges"
Actuellement, les regex entrées dans le BO sont traitées par le Backend comme une seule ligne de regex.
L'objet de la présente issue est de créer une séparation entre les deux dans le traitement.

Le but à terme pour le backend est de pouvoir fournir les regex de sites web de façon séparées, par exemple :
- fournir à l'extension et l'application mobile la liste des bulles applicables à tel site we

[2021-06-29 15:26] #401 closed

[2021-06-29 15:27] zhinu commented on #401
see #405

[2021-06-30 12:05] MaartenLMEM commented on #367
At same time, if it is XS, we also may forbid * as first character see : https://github.com/dis-moi/backend/issues/401

[2021-07-05 13:44] JalilArfaoui opened #406 "POST contribution endpoint on API V4"
We need the same POST /contributions endpoint we have on V3, but with the authentified V4 

Ideally, a body as simple as for the V3, but without contributor information (as we are already authentified)  would be light and enough for the extension use case :

[code]

If this is too complicated with API platform, then we need an extension of the existing POST /notices

from

[code]

to (at least) :

[2021-07-05 13:49] JalilArfaoui opened #407 "Add userId and [contributorId] in response of POST /api/v4/_jwt"
As an extension or android app, I need to know who I am once authentified

Response could be like

[code]

[2021-07-05 13:52] MaartenLMEM commented on #406
@Goutte on parle demain de cette issue, ses enjeux et le timing

[2021-07-06 07:42] JalilArfaoui commented on #406
@Goutte tell me if you want to discuss this !

[2021-07-06 08:21] JalilArfaoui opened #409 "Add Signup route"
We need something like `POST /signup` or `POST /users` to be able de self sign-up

Body should be like
[code]

Verification should be made that e-mail is not already used and that given information are valid

User should be created with given informations along with an associated contributor, if  `profileName` is given.

Validation code should be sent by e-mail, and the account should stay in `unc

[2021-07-06 08:22] MaartenLMEM commented on #409
Condition to make https://github.com/dis-moi/extension/issues/1051

[2021-07-06 08:25] JalilArfaoui opened #410 "Add account confirmation endpoint"
Once #409 is done, we need an endpoint to confirm an account.

It could be something like `/users/42/confirm` with a body `{ "validationCode": "string" }`

An e-mail could be sent to confirm.

When called with correct `validationCode` it would move the user to a `confimed` state, and allow login and use of all the other API V4 endpoints, most importantly #406

[2021-07-09 15:31] felix-lambert opened #411 "List of contributors : Description of some contributors is not diplayed for mobile"
I'm suggesting to put a title similar to the intro with no html so that I can only get the title for displaying the contributor description in the contribution list

[2021-07-11 18:05] MaartenLMEM commented on #411
to discuss with @lutangar or @JalilArfaoui and see during weekly product meeting (lead by @zhinu this week)

[2021-07-12 06:21] JalilArfaoui commented on #411
Actually, I think contributors title and intro shouldn't be formattable at all, even for profiles and extension...

I would advocate to :
- change the 2 fields to raw text in the back office
- remove html from all existing intros

What do you think @MaartenLMEM ?

[2021-07-13 07:09] gregoirelacoste opened #412 "Allow to generate News from backoffice"
To generate content for News banner on extension:
- [ ] create model : News with text field
- [ ] update UI backoffice with CRUD for news
- [ ] normalizer
- [ ] repository maybe

linked PR Front : https://github.com/dis-moi/extension/pull/1086
Issue Front : https://github.com/dis-moi/extension/issues/1066

[2021-07-14 08:17] prk-dismoi commented on #411
@JalilArfaoui if I get this right we have this problem only with HTML formatted intros? On the contributor page the only use of HTML I see is to add hyperlinks inside the intro. It's not widespread, but going forward it's a useful feature to keep. Any other way we can handle this?

[2021-07-14 10:27] prk-dismoi commented on #411
@MaartenLMEM, as discussed today with @JalilArfaoui and @felix-lambert, this raises a broader question about the format of the intro. Our recommendation is to turn intro into raw text and handle management of any URLs outside of it.
We will discuss further on your return.

[2021-07-14 10:38] JalilArfaoui commented on #411
IMHO,
- either we just permit raw text, and autodetect URLs to make them clickable
- either we move to markdown …

But it doesn’t feel right to me to save HTML directly …

[2021-07-14 11:54] Etienne-DisMoi opened #413 "Error 500 when clicking on Expired notices"
I tried to go to Expired notices today, it worked until it gave me an error 500 :
![image](https://user-images.githubusercontent.com/79837257/125617694-aee44556-5a73-49d8-938b-c158d171b4b2.png)

[2021-07-15 06:23] gregoirelacoste commented on #413
@Etienne-DisMoi hello, I do not the the issue anymore, could you confirm, and close the ticket if ok ?

Thx

[2021-07-15 06:24] gregoirelacoste commented on #413
@Etienne-DisMoi sorry, i just found the error, sorry I take car of it next week

[2021-07-15 07:44] JalilArfaoui commented on #413
@gregoirelacoste Actually, I’ve already fixed that in #408 , sorry for not linking with this issue !

[2021-07-15 07:47] JalilArfaoui commented on #413
Oh @Etienne-DisMoi it’s just not on production, I was waiting for you approval on #408 before going to production … let’s deploy right now …

[2021-07-15 07:56] JalilArfaoui commented on #413
@Etienne-DisMoi it’s in production now … You should be able to access expired notices screen, and all notices listing should be faster …

[2021-07-19 08:26] lutangar opened #414 "500 error on show contributor"
From https://staging-notices.bulles.fr/admin/?action=list&entity=Notice
When clicking on some contributor....

There is a 500 error.

[2021-07-19 14:13] MaartenLMEM opened #417 "Avoid bulles.fr domain for our own services - before july 21th"
On utilise encore  bulles.fr encore en url de certains de nos services internes.
Ce serait bien de s'en passer. Dans 3 jours le domaine est expiré donc à faire mercredi au plus tard.
https://admin.gandi.net/domain/9fa864cc-51b0-11e7-88f3-00163ec31f40/bulles.fr/overview

[2021-07-19 15:33] MaartenLMEM opened #418 "As admin, we do not receive anymore mails when a user contribute or ask an advice"
Maybe related to semaphore issue "la var d'env PROFILES_ORIGIN = localhost" ?

[2021-07-21 08:28] JalilArfaoui commented on #411
Yesterday, we’ve decided that we’re gonna add a strippedIntro on contributors endpoint that won’t have any HTML.

On the mid-term though, we’ve decided that we don’t want any formatting in this field. Potential links will be autodetected and made clickable, and special icons (like verified) will be handled in the back-office by corresponding fields, appart from intro

[2021-07-21 12:54] MaartenLMEM commented on #417
@lutangar je renouvelle le domaine par précaution tant que cette issue n'est pas réalisée

[2021-07-21 15:03] lutangar commented on #417
Yes do that, I had an eye on this but we won't be ready by the end of today anyway... (time to release to Chrome prod the extension)

[2021-07-26 21:50] #417 closed

[2021-07-27 16:55] MaartenLMEM commented on #411
By the way, If you can align left the text of each description, would be a nice UI quick win.

[2021-07-28 14:40] lutangar opened #428 "API v4 basePath configuration"
The API prefix is currenlty configured via route prefix in `config/routes/api_platform.yaml`:
[code]

The problem is when dumping the OpenAPI definition :
[code]

The server `baseUrl` is still set to `/`:
[code]

We can manually set the `baseUrl` in a custom `OpenApiFactory`:
[code]
But this doesn't get rid of the prefix on the paths...

Ideally there should be a way to configure a `baseUrl` in Ap

[2021-07-30 13:58] MaartenLMEM opened #429 "On mobile, some domains starting with "m dot" are not covered by bubbles whereas they should appear"
Problème
Les sites web couverts ont parfois des versions mobile débutant par M point , et non www.
Par suite, les bulles n'apparaissent pas sur mobile, notamment dans les exemples phares.
Parmi les sites déjà identifiés dans ce cas :
- m.youtube.com ... mais aussi YouTu.be
- m.darty.com
- m.boulanger.com
et bien d'autres

[2021-07-30 14:00] felix-lambert opened #430 "https://www.trivago.fr/fr/srl?__wr=2&search=100-341576 does not show any notice"
You can go to this url by clicking on Voir un example réel of FairBooking with firefox.

regex list and comparaison:

///////////////////////////////////////////////////////
trivago.fr/fr/srl?__wr=2&search=100-341576
{"id": 471, "noticeId": 116, "noticeUrl": "https://notices.bulles.fr/api/v3/notices/116", "urlRegex": "(trivago\\.fr).*adagio"}
 //////////////////////////////////////////////////////

[2021-07-30 15:40] lutangar commented on #376
A nice blog post on CloudFlare API and how to use it invalidate the cache:
https://apihandyman.io/automate-all-the-things-with-github-actions-postman-and-apis/

[2021-08-02 18:55] lutangar opened #431 "Filter matching context by last modification date"
On Api V4: https://api.dismoi.io/v4 it would be rather easy to add such filters, see api-platform documentation:
https://api-platform.com/docs/core/filters/#search-filter

But first we must add 2 properties on the `MatchingContext` entity. Take example on the `Notice` entity:
https://github.com/dis-moi/backend/blob/master/src/Entity/Notice.php#L257-L282

Then some logic must be aded to update both

[2021-08-03 08:22] MaartenLMEM commented on #429
Discussed with @JalilArfaoui yesterday :
Solution :
- Add an alias domain field in BO (and contribution team will add these alias
- Domains and its alias will be sent to the app as matching domains

Please Jalil add also and comments field for contributors. It will be usefull to explain protodomains created also.

[2021-08-03 12:03] MaartenLMEM opened #432 "When I create a protodomain with a domain already existing, I am blocked for duplicate reason"
I wanted to create a protodomaine : www.zalando.fr/sneakers
but since www.zalando.fr already exists, Easyadmin blocks me.

![image](https://user-images.githubusercontent.com/7824485/128012250-23276762-80a4-47bf-9593-ce52d44fd5b1.png)

---
**Note for myself after this issue is solved :**
Add www.google.fr/maps as protodomain and modify bubbles related such as #1937

[2021-08-04 15:44] MaartenLMEM opened #433 "Domains in matching context can only trigger with domains but they must not trigger with those characters contained in another domain"
For example
If domain is `jeuxvideo.com`
and regex .*forum
It must not match with
`https://www.lemonde.fr/pixels/article/2017/11/16/jeuxvideo.com-les-moderateurs-racontent-les-coulisses-du-forum-18-25_5215777_4408996.html `

Solution discussed :
- Add an business rule that forbids the bubble domain to match with a string of characters that is after slash "`/`"

[2021-08-13 11:53] MaartenLMEM commented on #367
New occurrence of this mistake raised today on a bubble of Enzo
`(/?(\?.*)?$)|(.*(covid|coronavirus|pass-sanitaire|variant|santé|vaccin))` had has effect to delete domaines names filled before

[2021-08-16 07:59] MaartenLMEM commented on #418
This issue happened again today. I discovered contributions from Jeanne Bernard but I didn't receive any notification in my mailbox about it.
Also In BO I can t find her email adresse (maybe a clue ?)

[2021-08-16 10:33] zhinu opened #434 "Regex is considered as not working when it should"
**Describe the bug**
While adding a the following regex
`([^A-Za-zÀ-ÖØ-öø-ž]+(table)s?[^A-Za-zÀ-ÖØ-öø-ž]+(pique)[^A-Za-zÀ-ÖØ-öø-ž]*(nique)[^A-Za-zÀ-ÖØ-öø-ž]*)`
for the link https://www.cemonjardin.com/l/produits/mobilier-de-jardin/tables-de-pique-nique.html
I get an error message

**Expected behavior**
This regex was designed to avoid false positives (for instance matching épique volcanique when w

[2021-08-18 13:32] MaartenLMEM commented on #429
Pour rappel, 2 risques si on ne specifie pas le www. ou le M. aujourd'hui  :
- matcher avec des urls qui n'ont rien à voir par ex : lemonde.fr/backmarket.fr-levee-de-fond qui matche avec le site regex
- matcher avec des sous-domaines du même domaine : backoffice, espace client, etc.

[2021-08-18 22:29] zhinu commented on #429
Pour Résoudre le risques 1 :
On peut penser à un régex qui cible le début de l'adresse :
[code]
Pour les sites :
abc.domaine.com
www.domaine.com
domaine.com

ça évite :
pasdomaine.com/domaine.com

Pour le risque 2 :
Quasiment aucun risque pour les Xpath
Risque très limité sur les regex (plus la regex est précise moins le risque est grand).

[2021-08-20 09:10] MaartenLMEM opened #435 "When I delete an xpath from a mathing context (empty field), it causes error 500"
To reproduce :
1. Open https://notices.lmem.net/admin/?action=edit&entity=Notice&sortField=id&sortDirection=DESC&page=2&referer=%252Fadmin%252F%253Faction%253Dlist%2526entity%253DNotice%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D2&id=2135
2. Go to last mathcing context about website oxybul.com
3. delete rhe word "test" from the xpath field
4. validate
5. See error 500

[2021-08-23 07:57] MaartenLMEM opened #436 "Create API v4 dedicated PHP Client"

[2021-08-23 08:10] MaartenLMEM commented on #418
@gregoirelacoste Just discussed with @lutangar : it is not related with sendinblue.
Please see together this issue

[2021-08-23 08:21] lutangar opened #437 "Update API links in README"
- [ ] Update API doc link
- [ ] Add link to API markdown files
- [ ] Add link to API PLatform on how to add a endpoint

[2021-08-30 08:48] MaartenLMEM opened #439 "BO is slow since a couple of days"
Lors de la création et la mise à jour des bulles, il y a plusieurs seoncdes chargement et parfois des lags lors de la saisie.

[2021-08-30 08:51] zhinu commented on #439
J'ai un temps de chargement très lent (1/2 minute parfois), et ça finit souvent en page blanche...

[2021-08-30 09:10] MaartenLMEM commented on #439
@lutangar j'ai l'impression que ça s'aggrave, je te l'attribue pour cette semaine. On en reparle demain en réu.

[2021-08-31 12:02] MaartenLMEM commented on #435
Sorry I probably closed this issue by mistake

[2021-08-31 12:03] #435 closed

[2021-08-31 13:57] MaartenLMEM commented on #432
@lutangar on est bloqué par cette issue que j'avais un peu oublié. Je l'ai mise à colonne "this week" dans la mesure du possible.

[2021-08-31 15:20] MaartenLMEM opened #440 "All services linked to BO are down or very slow, with 504 erros sometimes"
Situation got worse every day, but today it s a more significant :
- Profile pages are down on prod and proding/staging
- We cannot work in the BO. We are blocked

Related to https://github.com/dis-moi/backend/issues/439

[2021-08-31 15:23] MaartenLMEM commented on #440
@lutangar @JalilArfaoui What about cleaning whole cache on Cloudflare ?

[2021-08-31 15:24] lutangar commented on #440
Probably would be worse...

[2021-09-01 09:16] lutangar commented on #440
Fixed via new CloudFlare config on new API domain.

[2021-09-01 09:16] #440 closed

[2021-09-01 09:17] #439 closed

[2021-09-02 09:32] MaartenLMEM opened #441 "As contributor, I can add a group of domains (and not only domains) in a group of domains"

[2021-09-02 09:59] JalilArfaoui commented on #431
What about deletions ?

[2021-09-02 10:07] lutangar commented on #431
Could be done via a *soft delete* feature with a `deletedAt` properties and why not a `isDeleted` getter.
I think you mentioned another solution that might be better to handle the usecase... feel free to edit the title of the feature to better suit the usecase description, this title is too precise and emphasize a possible solution and not the actual issue.

[2021-09-02 12:28] lutangar commented on #429
Looks enough for me, but I'm probably missing something...

Isn't it exactly what we're trying to achieve here?  ex: match `m` subdomain of the same domain?

[2021-09-03 10:26] MaartenLMEM commented on #361
Not solved but Posthog will cover a big part of the needs here.
See it later.

[2021-09-06 07:26] lutangar commented on #429
What do you think @JalilArfaoui ?

[2021-09-06 07:37] MaartenLMEM commented on #429
These are questions here about the need. @zhinu don't hesistate to answer or complete.

Yes and no.
- Yes for m subdomain,
- Yes for fr.siteweb.com subdomain
- Yes for be.siteweb.com subdomain (really secondary)
- No for admin.siteweb.com subdomain (nice to have)

[2021-09-06 07:47] MaartenLMEM commented on #433
related to https://github.com/dis-moi/backend/issues/429

[2021-09-06 07:50] MaartenLMEM commented on #429
Maybe the matter here is just
if i create a domain www.
And I add an alias m.
then it will matchs

[2021-09-06 07:50] lutangar commented on #433
I don't get it or maybe just a wrong example:

It won't match `lemonde.fr`

[2021-09-06 08:02] JalilArfaoui commented on #433
@lutangar I’m not sure about that :

For example, notice 373 has matching context 1635 with regex `(adobe\.com).*photoshop-lightroom`

It seems to match with https://lemonde.fr/adobe.com/is-photoshop-lightroom-good

![image](https://user-images.githubusercontent.com/3037833/132181432-69be2934-2227-4215-8b91-c8bfd1f755b3.png)

We do not have a specific domain check that I know of, since the backend

[2021-09-06 08:05] JalilArfaoui commented on #429
Yes, to me, the issue here is simply :

Add an `alias` field in the `Domain` entity so that if we add `m.youtube.com` to domain `www.youtube.com` and we set a matching context on domain `www.youtube.com` with regex `.*something-in-the-url`, the resulting served regex should be :

`(www\.youtube\.com|m\.youtube\.com).*something-in-the-url`

Do we all agree of that ?

[2021-09-06 09:10] MaartenLMEM commented on #307
same as https://github.com/dis-moi/backend/issues/376

[2021-09-06 10:01] JalilArfaoui commented on #431
@lutangar Yes, a soft delete would enable us to set up a differential matching contexts update …

I’m not sure that this is high-priority though…

[2021-09-06 10:28] MaartenLMEM commented on #429
Yes, we agree on this solution @JalilArfaoui
After talking with @lutangar , here is summary :

**Current situation**
- If I domain contains `sncf.com` , it matches with
[code]
- If domain conaints www.sncf.com , i matches with
`www.sncf.com`
but not mobile.sncf.com nor m. sncf.com nor fr.sncf.com
Exemple 1 futur : Maarten renseigne sncf.com
alors ça matche avec sncf.com/billet (edited)

**Targeted

[2021-09-06 12:20] #432 closed

[2021-09-06 12:56] lutangar commented on #441
I'd say kbd>Size S :shirt:</kbd> as long as we stick to one level of recursion... but there might not be validation everywhere to ensure that's actually the case. We'll only fetch `domainSets` inside a `domainSet` and that's it.

This will  also generate more `matchintContext` so might be a performance impact.

This is handle backend side so I'd say there are no impact on any frontend side.

[2021-09-06 13:03] MaartenLMEM commented on #441
From my contributor point of view, this 1st level would be useful.
@lutangar  Do you see any risk of breaking something, or are you completely confident in and outs of this feature ?

Idea : To be sure there is no mistake we will write "2nd" (for 2nd level) in each title of a group of domain that contains other groups.

[2021-09-06 14:20] lutangar commented on #432
After some testing some more work were required (see #443

[2021-09-06 14:59] lutangar commented on #441
Just a warning note on the `MatchingContext` v4 normalizer wich probably need fixing already...
V4 should use `$matchingContext->getFullUrlRegex($this->escaper)` as in v3

[2021-09-07 09:05] MaartenLMEM commented on #441
Postponed.

[2021-09-07 12:23] zhinu opened #444 "Automatize the google data studio board for contribution's purposes"
Basically the same issue as [361](https://github.com/dis-moi/backend/issues/361).

The need is to have a simple process to view stats of notices and contributors, in order to have a continuous improvement process.
Work has been done in Google data studio, however it is not an automatic process, a csv is extracted from the db and manually added to the db.

[2021-09-07 12:35] lutangar commented on #433
@JalilArfaoui I know which issue we're trying resolve here, @MaartenLMEM example was wrong but he edited since.

About the resolution... I was thinking about something like the following:
https://regex101.com/r/1BLjCV/5/

This would preserve the kind of "subdomain wildcard" behavior we had so far.
I'm pretty sure it could be tricked but this is much stronger...

OR we could leave this to the clien

[2021-09-07 12:50] lutangar commented on #405
Solution 2.  proposed in  https://github.com/dis-moi/backend/issues/433#issuecomment-914266328 would solve this issue as well.

[2021-09-07 17:04] JalilArfaoui commented on #433
I vote for solution 2, as it solves other issues (#405 as you mentionned, but also allow things like https://github.com/dis-moi/extension/issues/277) … and it will also work well with the «XPath replacement» we talked about this morning (no issue created yet ?)

[2021-09-08 09:28] zhinu opened #446 "Expose domains in matching Api"
In order to solve #433 #405 #429 and [dis-moi/extension#277](https://github.com/dis-moi/extension/issues/277), @lutangar suggested to create a dedicated field for the domain, and allow the client to choose it.

Today the backend provides the extension and the app a concatenated regex which includes both the domain and the matching-context regex string.
[code]

The idea is to have two separate fiel

[2021-09-09 16:07] lutangar opened #447 "Extract a `rejectEmpty` function"
Maybe we could extract a `rejectEmpty` function

_Originally posted by @JalilArfaoui in https://github.com/dis-moi/backend/pull/445#discussion_r703680151_

[2021-09-13 09:21] MaartenLMEM commented on #432
all right @lutangar
Please put it into production.

[2021-09-13 11:13] zhinu opened #448 "Revamping the Backend UI for matching-context : create product targeted fields"
## Stakes
Transitioning from regex and xpath to nocode

## Context
Today, the matching context has the following fields
<img width="206" alt="Capture d’écran 2021-09-13 à 13 01 06" src="https://user-images.githubusercontent.com/75084558/133072532-acf7f354-3f2f-41e4-a9f7-93c4e1e5afe5.png">

The fields Regex target the url whereas xpath target the Document Object Model (DOM). Those two fields, nee

[2021-09-13 13:08] lutangar commented on #433
Alright closing this in favor of #446 then.

[2021-09-13 13:08] #433 closed

[2021-09-14 08:59] #446 closed

[2021-09-14 14:56] sentry-io[bot] opened #450 "OutOfRangeCurrentPageException on backoffice"
Maybe we just have to ignore the error in Sentry config and return a 404 …

Sentry Issue: [BACKEND-G0](https://sentry.io/organizations/lmem/issues/2642715094/?referrer=github_integration)

[code]

[2021-09-14 23:21] sentry-io[bot] opened #451 "Back-office allows longer description than accepted at database level"
Sentry Issue: [BACKEND-G1](https://sentry.io/organizations/lmem/issues/2647986007/?referrer=github_integration)

[code]

[2021-09-15 13:57] MaartenLMEM opened #452 "Product name in BO matching context : add "And", "Or" and "Exclude" logical connectors"
Following https://github.com/dis-moi/backend/issues/448

[2021-09-16 16:16] MaartenLMEM opened #453 "Add comment field in domain tab in BO"
As contributor, I need sometimes to explain data I filled in alias part.
Solution : just a comment field as in notices tab.

[2021-09-16 17:02] MaartenLMEM commented on #432
tested, all right !

[2021-09-21 08:10] MaartenLMEM commented on #451
Pas d'urgence.  Peu probable que ça se reproduise
Mais enquiquinant car le contributeur ne sait jamais pourquoi il a eu erreur 500.  Et souvent quand on a erreur 500 on perd tout notre contenu.

[2021-09-22 08:24] zhinu opened #454 "Some websites' urls have elements hashed in base64"
Ubereats has the address of the user hashed into the url.

I.e.

[code]

we can extract what is located after pl=

[code]

decrypted with base64

[code]

[2021-09-23 16:39] MaartenLMEM commented on #448
@lutangar I just commented the related issue on mobile repo : https://github.com/dis-moi/mobile/issues/239#issuecomment-925969271
Afterwards, don't you think the BO/API should do this work.
And clients such as mobile app would make his own "advanced" translations only if BO is less appropriate to make it (for efficiency/privacy... reasons or others) ?

[2021-09-26 13:51] MaartenLMEM commented on #448
Ok discussed friday, there a misunderstanding.
Let's review this and we ll make nex fields later

[2021-09-28 13:56] #448 closed

[2021-09-28 14:15] sentry-io[bot] opened #456 "Could not post a notice from extension - message too long ?"
Symfony\Component\HttpKernel\Exception\UnprocessableEntityHttpException: An exception occurred while executing 'INSERT INTO notice (visibility, excludeUrlRegex, message, ...

Sentry Issue: [BACKEND-G2](https://sentry.io/organizations/lmem/issues/2679197323/?referrer=github_integration)

[code]

[2021-09-28 14:16] MaartenLMEM commented on #448
Tesed on BO. It s ok, but during next step it will be important to discuss about how it will be used by extensions et mobile apps.

See for example [this notice in staging](https://staging-notices.lmem.net/admin/?entity=Notice&action=edit&menuIndex=0&submenuIndex=-1&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fentity%253DNotice%2526action%253Dlist%2526menuIndex%253D0%2526subm

[2021-09-28 21:33] JalilArfaoui commented on #430
Currently, the pinned notice for `FairBooking` contributor is notice id 275 … this notice’s first matching context example URL is https://www.trivago.fr/les-baux-de-provence-87963/hotel/mas-de-l-oulivie-hotel-341576

It’s working well with matching context regex `trivago.fr/.*mas.*de.*oulivie` …

I can’t see why www.trivago.fr/fr/srl?__wr=2&search=100-341576 should match … but maybe production dat

[2021-09-28 21:33] #430 closed

[2021-09-29 11:52] MaartenLMEM opened #457 "BO : Rename "Le Même en Local" contributor to "Local au même prix" to be different from the app brand"
This will be done after LMEL website is online and when LMEL app is ready to be launched.

[2021-09-29 13:02] MaartenLMEM opened #458 "Local tag for contributors, managed in BO"
## Stages
- [ ] Create tag in BO
- [ ] Expose it on the API

## Stakes
- Filter local profiles for LMEL Android app and for LMEL web extension

## Reorder current categories ?
We already have some categories used to filter profiles list : Conso, Culture et Société, Militant, Divers

A local category could be added here.
But look out here : We cannot just add or replace a category. We have to redes

[2021-09-29 13:24] MaartenLMEM opened #459 "If an internet user contributes from his web extension, make it automatically public (vs draft status)"
We can expect much more contributions when the new UI contribution version on extension goes live.
It will be much easier to manage with a posteriori moderation.

[2021-10-01 12:51] prk-dismoi commented on #458
"Conso locale" is the urgency here, as a prerequisite flag for filtering contributors on LMEL (the app has "local" and "autres" tab). We need to think whether categories will be mutually exclusive or not (i.e. is conso locale a subset of conso?). If not we could just add a DB flag on contributors for now (for ex: local Y/N). This way we also don't have to agree on how to rename the categories just

[2021-10-04 16:36] MaartenLMEM commented on #458
- Good point : `Local `is a subset of `Conso`. It is the most logical, closest to reality.
- We will see how to manage this category on apps and browser add-on after. for this last one cf. https://github.com/dis-moi/extension/issues/1151
- Yet, the main criteria here is the ease to develop.

[2021-10-04 16:40] MaartenLMEM commented on #458
About redesign categories. Actually, I think it is not mandatory.
Yet, if we would like to improve these categories, it will need a little design work. Involving such methods https://www.nngroup.com/articles/card-sorting-definition/

[2021-10-06 12:09] MaartenLMEM opened #461 "Contribution from extension : matching only the page targeted, not all pages starting by"
**Problem**
Currently, when an web extension user contributes it creates a mathing context too large. It target the page and all pages starting with same characters.
Currently it is not a problem because contribution team is moderating contributions before publishing.
Tomorrow with https://github.com/dis-moi/backend/issues/459, it will be directly published.

For example
if I am on https://www.dir

[2021-10-06 16:20] MaartenLMEM opened #462 "Reduce hosting bills from Clevercloud"
La facture CleverCloud de septembre était à 360 €.
Je me souviens que Jalil tu avais fait un upgrade en urgence le mois dernier à cause d'un plantage finalement dû à un pb de routage d'url et de cache sur Cloudflare. Possible de downgrade ?
Est-ce qu'on a des services aussi à femer ou que vous avez fermé récemment (je crois que Johan a déjà gratté quelques euros venderdi dernier pendant le séminai

[2021-10-07 15:22] MaartenLMEM opened #463 "An Xpath on Amazon is not working - notice 2188 Cartouches"
This page contains the breadcrumb targeted by 1st matching context : https://www.amazon.fr/GPC-Image-33XL-Cartouches-Compatible/dp/B083FCN11S/ref=sr_1_6
by this notice :  https://notices.bulles.fr/admin/?action=edit&entity=Notice&sortField=id&sortDirection[…]eld%253Did%2526sortDirection%253DDESC%2526page%253D1&id=2188

@J-oh-n needs help to see if there is no mistake there.

[2021-10-30 16:50] JalilArfaoui commented on #458
@prk-dismoi @MaartenLMEM I’m not sure what we stated here …

Is it OK for now to just add a `local contributor` checkbox to the contributor ? Or are we redesigning the whole category system ?

[2021-10-31 22:27] JalilArfaoui commented on #462
We’re still oversized …

![image](https://user-images.githubusercontent.com/3037833/139603154-1a9edde1-82ea-4401-b3c3-22c404bf3e07.png)
![image](https://user-images.githubusercontent.com/3037833/139603158-02c963b0-05ac-402c-83dd-0cfbe1794371.png)

I passed from 2 CPUs + 2 GB RAM to 1 CPU + 1 GB RAM (-14.40€/month)

[2021-10-31 23:33] MaartenLMEM commented on #458
@JalilArfaoui This seems me the easiest way yes.

[2021-11-01 21:51] MaartenLMEM opened #464 "Cannot reach https://proding-profiles.dismoi.io/eclaireurs"
![image](https://user-images.githubusercontent.com/7824485/139746801-88ec5187-d364-4c71-8852-e450ee0ce74d.png)

[2021-11-03 13:24] JalilArfaoui commented on #458
@MaartenLMEM I close this, as :
 - We don’t need this anymore for https://github.com/dis-moi/extension/issues/1151
 - We may re-think the whole category functionality later

[2021-11-03 13:24] #458 closed

[2021-11-11 09:12] MaartenLMEM opened #465 "When a user contributes from hi add-on, domain created in backoffice contains contains much more characters than the domain"

[2021-11-19 10:55] MaartenLMEM opened #466 "In the BO, I cannot see modifications I made recently on my notice"
## 1st case : I change description text, but after saving I cannot see my change
More details in this video : https://drive.google.com/file/d/1-8D_GQ_mEvVNblIeMugYhSa0ZhWklXBf/view (must be seen to understand the bug and find its origin)

Note : Some hours later I could see my modification was saved and visible. So it really a short term issue.
And this issue can bring people to erase their own wo

[2021-11-22 12:19] MaartenLMEM opened #467 "Fix matching context of our most important bubble : Alterantives to Amazon books"
Bubble n° 2019 is no more displayed since beginning of october 2021.
Cause : Amazon website probably changed its product page structure.

To do :
1. Fix xpath - Jalil
2. Make an rescue regex in case it is down - Maarten

Link to the notice : https://notices.lmem.net/admin/?action=edit&entity=Notice&menuIndex=&submenuIndex=&query=2019&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%2

[2021-11-30 14:16] MaartenLMEM commented on #466
J'ai fait des modifications cet après-midi, je n'ai pas rencontré les mêms problèmes de latence de modification.
Donc je ferme l'issue

[2021-11-30 14:16] #466 closed